[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [48]:
# Imports
from getpass import getpass
import pandas as pd
import os
import numpy as np
import glob

In [49]:
!pip install geopandas
import geopandas as gpd

Requirement already satisfied: geopandas in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (0.8.1)
Requirement already satisfied: pyproj>=2.2.0 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from geopandas) (2.6.1.post1)
Requirement already satisfied: pandas>=0.23.0 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from geopandas) (1.1.3)
Requirement already satisfied: shapely in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from geopandas) (1.7.1)
Requirement already satisfied: fiona in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from geopandas) (1.8.13.post1)
Requirement already satisfied: pytz>=2017.2 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from pandas>=0.23.0->geopandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from pandas>=0.23.0->geopandas) (1.19.2)
Requirement already satisfied: attrs>=17 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (20.3.0)
Requirement already satisfied: click<8,>=4.0 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: cligj>=0.5 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (0.7.0)
Requirement already satisfied: click-plugins>=1.0 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: munch in c:\users\alex\anaconda3\envs\pgm_env\lib\site-packages (from fiona->geopandas) (2.5.0)

# Data Preparation

## Download MBTA Data

In [50]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

In [51]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

## Load MBTA Data

### MBTA Bus Ridership

In [52]:
df = gpd.read_file("MBTA Bus Ridership.geojson")
df

,FID,season,route_id,route_variant,direction_id,trip_start_time,day_type_id,day_type_name,stop_name,stop_id,stop_sequence,boardings,alightings,load_,sample_size,geometry
0,1,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,WASHINGTON ST OPP RUGGLES ST,1,2,0.4,0.3,7.8,13,None
1,2,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,ALBANY ST OPP RANDALL ST,10003,5,0.1,0.0,9.4,13,None
2,3,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ SIDNEY ST,101,19,0.0,0.4,10.4,13,None
3,4,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ PROSPECT,102,20,0.6,2.5,8.5,13,None
4,5,Fall 2016,1,1-_-0,0,04:37:00,day_type_01,weekday,MASSACHUSETTS AVE @ BIGELOW S,104,21,0.1,0.2,8.4,13,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451727,3451728,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,HIGHLAND AVE @ PINE ST,5062,9,0.0,0.0,0.0,5,None
3451728,3451729,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ DEXTER ST,5066,15,0.0,0.0,0.0,5,None
3451729,3451730,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,CLIFTON ST @ CEDAR ST,5067,16,0.0,0.0,0.0,5,None
3451730,3451731,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CLIFTON ST,5068,17,0.0,0.0,0.0,5,None
3451731,3451732,Fall 2019,99,99-8-1,1,22:30:00,day_type_02,saturday,SUMMER ST @ CHESTNUT ST,5069,18,0.0,0.0,0.0,5,None

### MBTA Bus Arrival

In [53]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")
df2

,service_date,route_id,direction,half_trip_id,stop_id,stop_name,stop_sequence,point_type,standard_type,scheduled,actual,scheduled_headway,headway
0,2019-04-01,01,Inbound,42976988.0,75,mit,4.0,Midpoint,Schedule,1900-01-01 05:19:00,1900-01-01 05:21:20,NaN,NaN
1,2019-04-01,01,Inbound,42976988.0,79,hynes,5.0,Midpoint,Schedule,1900-01-01 05:23:00,1900-01-01 05:24:17,NaN,NaN
2,2019-04-01,01,Inbound,42976988.0,187,masta,6.0,Midpoint,Schedule,1900-01-01 05:25:00,1900-01-01 05:26:05,NaN,NaN
3,2019-04-01,01,Inbound,42976988.0,59,Wasma,7.0,Midpoint,Schedule,1900-01-01 05:29:00,1900-01-01 05:27:59,NaN,NaN
4,2019-04-01,01,Inbound,42977170.0,110,hhgat,1.0,Startpoint,Headway,1900-01-01 05:30:00,1900-01-01 05:29:55,1200.0,1230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7670643,2019-06-30,SL5,Outbound,44045095.0,15176,mawor,8.0,Midpoint,Headway,1900-01-02 00:54:00,NaN,900.0,NaN
7670644,2019-06-30,SL5,Outbound,44045095.0,55,Wasma,9.0,Midpoint,Headway,1900-01-02 00:55:00,NaN,900.0,NaN
7670645,2019-06-30,SL5,Outbound,44045095.0,60,Walen,10.0,Midpoint,Headway,1900-01-02 00:56:00,NaN,900.0,NaN
7670646,2019-06-30,SL5,Outbound,44045095.0,61,Melwa,11.0,Midpoint,Headway,1900-01-02 00:57:00,NaN,900.0,NaN
7670647,2019-06-30,SL5,Outbound,44045095.0,64,Dudly,12.0,Endpoint,Headway,1900-01-02 00:58:00,NaN,900.0,NaN

## Utility functions

In [54]:
def filter_on_row_col(df, target_rows, target_columns):
  for key, value in target_rows:
      df.drop(df[df[key] != value].index, inplace=True)
  df.drop(df.columns.difference(target_columns), axis=1, inplace=True)

def load_targets_from_csvs(target_columns, target_rows):
  bus_arrival_files = glob.glob('./*.csv')

  df_cumulative = pd.DataFrame()
  for f in bus_arrival_files:
    df_tmp = pd.read_csv(f)
    filter_on_row_col(df_tmp, target_rows, target_columns)
    df_cumulative = df_cumulative.append(df_tmp)
    print(f"Loaded {f}")
    del df_tmp

  return df_cumulative

# EDA on Routes

## Selection of arrival bus route

In [55]:
df2 = load_targets_from_csvs(target_columns=['route_id','direction','stop_id'], target_rows=[])

Loaded .\MBTA Bus Arrival Departure Apr-June 2019.csv
Loaded .\MBTA Bus Arrival Departure Aug-Sept 2018.csv
Loaded .\MBTA Bus Arrival Departure Jan-Mar 2019.csv
Loaded .\MBTA Bus Arrival Departure Jul-Sept 2019.csv
Loaded .\MBTA Bus Arrival Departure Oct-Dec 2018.csv
Loaded .\MBTA Bus Arrival Departure Oct-Dec 2019.csv

In [56]:
# Calculate visits per stop
group = df2[['route_id','direction','stop_id']].groupby(['route_id','direction'])
unique_stops = group.nunique().rename(columns={"stop_id":"unique_stop_ids"})
total_stops = pd.DataFrame(group.size()).rename(columns={0:"total_stops"})
stops = pd.merge(unique_stops, total_stops, left_index=True, right_index=True)
stops['visits_per_stop'] = stops['total_stops'] / stops['unique_stop_ids']

In [57]:
stops.sort_values('visits_per_stop', ascending=False).head(20)

                    unique_stop_ids  total_stops  visits_per_stop
route_id direction
SL5      Outbound                12       814194     67849.500000
         Inbound                 13       872944     67149.538462
111      Inbound                 12       777438     64786.500000
SL1      Outbound                 7       448292     64041.714286
31       Outbound                 5       304750     60950.000000
         Inbound                  5       300727     60145.400000
SL2      Outbound                 6       345890     57648.333333
         Inbound                  6       335191     55865.166667
111      Outbound                13       718718     55286.000000
23       Inbound                 10       549635     54963.500000
SL1      Inbound                 13       709980     54613.846154
01       Outbound                 9       488393     54265.888889
         Inbound                  9       472691     52521.222222
39       Inbound                 11       561718     51065.272727
28       Inbound                 11       552235     50203.181818
39       Outbound                10       496903     49690.300000
743      Outbound                11       544599     49509.000000
77       Outbound                11       538967     48997.000000
         Inbound                 11       536599     48781.727273
23       Outbound                12       548555     45712.916667

## Selection of ridership bus route

In [58]:
tot_sample_size = df.groupby(by=['route_id', 'direction_id'], as_index=False)['sample_size'].sum()
tot_sample_size.sort_values(by = 'sample_size', ascending = False).head(20)

    route_id  direction_id  sample_size
94        23             1       857938
112       28             1       827974
1          1             1       758696
248       66             1       754626
120       32             1       746150
93        23             0       735042
111       28             0       724153
84        22             1       703984
119       32             0       667073
0          1             0       649238
83        22             0       619744
51        15             1       612804
321        9             0       602588
322        9             1       584366
148       39             1       559244
247       66             0       557094
18        11             0       556348
147       39             0       535441
19        11             1       532532
50        15             0       514728

In [59]:
df['route_id'].unique()

array(['1', '10', '100', '101', '104', '105', '106', '108', '109', '11',
       '110', '111', '112', '114', '116', '117', '119', '120', '121',
       '131', '132', '134', '136', '137', '14', '15', '16', '17', '170',
       '171', '18', '19', '201', '202', '21', '210', '211', '212', '214',
       '215', '216', '217', '22', '220', '221', '222', '225', '23', '230',
       '236', '238', '24', '240', '245', '26', '27', '28', '29', '30',
       '31', '32', '325', '326', '33', '34', '34E', '35', '350', '351',
       '352', '354', '36', '37', '38', '39', '4', '40', '41', '411', '42',
       '424', '426', '428', '429', '43', '430', '434', '435', '436',
       '439', '44', '441', '442', '448', '449', '45', '450', '451', '455',
       '456', '459', '465', '47', '5', '50', '501', '502', '503', '504',
       '505', '51', '52', '55', '553', '554', '556', '558', '57', '57A',
       '59', '60', '62', '64', '65', '66', '67', '68', '69', '7', '70',
       '701', '708', '70A', '71', '72', '73', '74', '741', '742', '746',
       '747', '749', '75', '751', '76', '77', '78', '79', '8', '80', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '712', '713', '743', '725'],
      dtype=object)

# Preprocess data

## MBTA Bus Arrival

Loading the data for a single route and a single direction

In [60]:
target_columns = ["service_date", "half_trip_id", "stop_id", "stop_sequence", "scheduled", "actual"]
target_rows = [('route_id', '01'),('direction', 'Inbound')]
df3 = load_targets_from_csvs(target_columns, target_rows)

Loaded .\MBTA Bus Arrival Departure Apr-June 2019.csv
Loaded .\MBTA Bus Arrival Departure Aug-Sept 2018.csv
Loaded .\MBTA Bus Arrival Departure Jan-Mar 2019.csv
Loaded .\MBTA Bus Arrival Departure Jul-Sept 2019.csv
Loaded .\MBTA Bus Arrival Departure Oct-Dec 2018.csv
Loaded .\MBTA Bus Arrival Departure Oct-Dec 2019.csv

In [61]:
df3.head(5)

,service_date,half_trip_id,stop_id,stop_sequence,scheduled,actual
0,2019-04-01,42976988.0,75,4.0,1900-01-01 05:19:00,1900-01-01 05:21:20
1,2019-04-01,42976988.0,79,5.0,1900-01-01 05:23:00,1900-01-01 05:24:17
2,2019-04-01,42976988.0,187,6.0,1900-01-01 05:25:00,1900-01-01 05:26:05
3,2019-04-01,42976988.0,59,7.0,1900-01-01 05:29:00,1900-01-01 05:27:59
4,2019-04-01,42977170.0,110,1.0,1900-01-01 05:30:00,1900-01-01 05:29:55

Comment:
stop_id and stop_sequence are not always consistent in the dataframe!

In [62]:
group = df3.groupby(by=['stop_id', 'stop_sequence']).size()
print(group)

stop_id  stop_sequence
59       5.0                  1
         6.0                  3
         7.0              42083
62       1.0                  2
         6.0                  1
         7.0                  3
         8.0              42080
64       1.0                180
         2.0                  2
         7.0                  1
         8.0                  3
         9.0              42079
67       1.0                  3
         2.0              42069
72       1.0                  1
         2.0                  3
         3.0              42069
75       2.0                  1
         3.0                  3
         4.0              42083
79       3.0                  1
         4.0                  3
         5.0              42083
110      1.0              42070
187      4.0                  1
         5.0                  3
         6.0              42083
dtype: int64

Create a definition of valid stop IDs, based on the frequency of occurence

In [63]:
valid_stop_ids = group[group > group.max()/2]
sequence_to_id = valid_stop_ids.index.to_frame().reset_index(drop=True).sort_values(['stop_sequence']).set_index(['stop_id'])
print(sequence_to_id)
sequence_to_id = sequence_to_id['stop_sequence'].to_dict()

         stop_sequence
stop_id
110                1.0
67                 2.0
72                 3.0
75                 4.0
79                 5.0
187                6.0
59                 7.0
62                 8.0
64                 9.0

Drop invalid (out of sequence) stop IDs

In [64]:
df3['expected_stop_sequence'] = df3['stop_id'].apply(lambda x: sequence_to_id[x])
df3.drop(df3[((df3['expected_stop_sequence'] != df3['stop_sequence']) | (df3['stop_sequence'].isna()))].index, axis=0, inplace=True)
df3.drop('expected_stop_sequence', axis=1, inplace=True)
df3

,service_date,half_trip_id,stop_id,stop_sequence,scheduled,actual
97229,2019-04-02,42990738.0,110,1.0,1900-01-01 05:10:00,1900-01-01 05:10:13
97230,2019-04-02,42990738.0,67,2.0,1900-01-01 05:13:00,1900-01-01 05:13:00
97231,2019-04-02,42990738.0,72,3.0,1900-01-01 05:16:00,1900-01-01 05:15:29
97232,2019-04-02,42990738.0,75,4.0,1900-01-01 05:19:00,1900-01-01 05:20:33
97233,2019-04-02,42990738.0,79,5.0,1900-01-01 05:23:00,1900-01-01 05:24:45
...,...,...,...,...,...,...
7713412,2018-12-31,41915422.0,64,9.0,1900-01-02 01:26:00,1900-01-02 01:22:09
7713413,2018-12-31,41915428.0,187,6.0,1900-01-02 01:28:00,1900-01-02 01:30:51
7713414,2018-12-31,41915428.0,59,7.0,1900-01-02 01:32:00,1900-01-02 01:35:29
7713415,2018-12-31,41915428.0,62,8.0,1900-01-02 01:36:00,1900-01-02 01:40:14
7713416,2018-12-31,41915428.0,64,9.0,1900-01-02 01:40:00,NaN

Drop incomplete routes

In [65]:
groups = df3.groupby(by=['half_trip_id']).size()
stop_sequence_length = int(max(sequence_to_id.values()))
valid_half_trip_ids = pd.Series(groups[groups == stop_sequence_length].index).rename('valid_half_trip_ids')
df3 = df3.loc[df3['half_trip_id'].isin(valid_half_trip_ids)]

Processed data frame

In [66]:
df3.head(20)

,service_date,half_trip_id,stop_id,stop_sequence,scheduled,actual
97229,2019-04-02,42990738.0,110,1.0,1900-01-01 05:10:00,1900-01-01 05:10:13
97230,2019-04-02,42990738.0,67,2.0,1900-01-01 05:13:00,1900-01-01 05:13:00
97231,2019-04-02,42990738.0,72,3.0,1900-01-01 05:16:00,1900-01-01 05:15:29
97232,2019-04-02,42990738.0,75,4.0,1900-01-01 05:19:00,1900-01-01 05:20:33
97233,2019-04-02,42990738.0,79,5.0,1900-01-01 05:23:00,1900-01-01 05:24:45
97234,2019-04-02,42990738.0,187,6.0,1900-01-01 05:25:00,1900-01-01 05:28:08
97235,2019-04-02,42990738.0,59,7.0,1900-01-01 05:29:00,1900-01-01 05:29:48
97236,2019-04-02,42990922.0,110,1.0,1900-01-01 05:30:00,1900-01-01 05:29:45
97237,2019-04-02,42990922.0,67,2.0,1900-01-01 05:33:00,1900-01-01 05:34:00
97238,2019-04-02,42990738.0,62,8.0,1900-01-01 05:34:00,1900-01-01 05:33:37
97239,2019-04-02,42990922.0,72,3.0,1900-01-01 05:36:00,1900-01-01 05:37:21
97240,2019-04-02,42990738.0,64,9.0,1900-01-01 05:38:00,1900-01-01 05:33:55
97241,2019-04-02,42990922.0,75,4.0,1900-01-01 05:39:00,1900-01-01 05:41:31
97242,2019-04-02,42990922.0,79,5.0,1900-01-01 05:43:00,1900-01-01 05:44:24
97243,2019-04-02,42990922.0,187,6.0,1900-01-01 05:45:00,1900-01-01 05:46:44
97244,2019-04-02,42990922.0,59,7.0,1900-01-01 05:49:00,1900-01-01 05:49:56
97245,2019-04-02,42990772.0,110,1.0,1900-01-01 05:49:00,1900-01-01 05:53:47
97246,2019-04-02,42990772.0,67,2.0,1900-01-01 05:52:00,1900-01-01 05:59:02
97247,2019-04-02,42990922.0,62,8.0,1900-01-01 05:54:00,1900-01-01 05:53:27
97248,2019-04-02,42990772.0,72,3.0,1900-01-01 05:55:00,1900-01-01 06:02:29

In [67]:
df4 = df3.pivot(index=['service_date', 'half_trip_id'], columns=['stop_sequence'], values=['scheduled',	'actual'])
df4

                                     scheduled                       \
stop_sequence                              1.0                  2.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:10:00  1900-01-01 05:13:00
             40135103.0    1900-01-01 06:21:00  1900-01-01 06:24:00
             40135105.0    1900-01-01 07:44:00  1900-01-01 07:49:00
             40135121.0    1900-01-01 07:06:00  1900-01-01 07:10:00
             40135155.0    1900-01-01 06:06:00  1900-01-01 06:09:00
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:33:00  1900-01-01 18:38:00
             45106587.0    1900-01-01 20:11:00  1900-01-01 20:15:00
             45106589.0    1900-01-01 21:33:00  1900-01-01 21:37:00
             45108415.0    1900-01-01 08:49:00  1900-01-01 08:53:00
             45108654.0    1900-01-01 18:18:00  1900-01-01 18:23:00

                                                                     \
stop_sequence                              3.0                  4.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:16:00  1900-01-01 05:19:00
             40135103.0    1900-01-01 06:27:00  1900-01-01 06:30:00
             40135105.0    1900-01-01 07:55:00  1900-01-01 08:00:00
             40135121.0    1900-01-01 07:13:00  1900-01-01 07:17:00
             40135155.0    1900-01-01 06:12:00  1900-01-01 06:15:00
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:44:00  1900-01-01 18:49:00
             45106587.0    1900-01-01 20:19:00  1900-01-01 20:24:00
             45106589.0    1900-01-01 21:41:00  1900-01-01 21:46:00
             45108415.0    1900-01-01 08:59:00  1900-01-01 09:05:00
             45108654.0    1900-01-01 18:29:00  1900-01-01 18:36:00

                                                                     \
stop_sequence                              5.0                  6.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:22:00  1900-01-01 05:25:00
             40135103.0    1900-01-01 06:35:00  1900-01-01 06:39:00
             40135105.0    1900-01-01 08:05:00  1900-01-01 08:11:00
             40135121.0    1900-01-01 07:22:00  1900-01-01 07:26:00
             40135155.0    1900-01-01 06:18:00  1900-01-01 06:21:00
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:56:00  1900-01-01 19:02:00
             45106587.0    1900-01-01 20:29:00  1900-01-01 20:34:00
             45106589.0    1900-01-01 21:51:00  1900-01-01 21:56:00
             45108415.0    1900-01-01 09:11:00  1900-01-01 09:16:00
             45108654.0    1900-01-01 18:45:00  1900-01-01 18:51:00

                                                                     \
stop_sequence                              7.0                  8.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:28:00  1900-01-01 05:32:00
             40135103.0    1900-01-01 06:42:00  1900-01-01 06:49:00
             40135105.0    1900-01-01 08:16:00  1900-01-01 08:24:00
             40135121.0    1900-01-01 07:29:00  1900-01-01 07:37:00
             40135155.0    1900-01-01 06:24:00  1900-01-01 06:28:00
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 19:07:00  1900-01-01 19:12:00
             45106587.0    1900-01-01 20:38:00  1900-01-01 20:42:00
             45106589.0    1900-01-01 22:00:00  1900-01-01 22:04:00
             45108415.0    1900-01-01 09:21:00  1900-01-01 09:28:00
             45108654.0    1900-01-01 18:56:00  1900-01-01 19:01:00

                                                             actual  \
stop_sequence                              9.0                  1.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:33:00  1900-01-01 05:11:45
             40135103.0    1900-01-01 06:50:00  1900-01-01 06:21:20
             40135105.0    1900-01-01 08:25:00  1900-01-01 07:43:31
             40135121.0    1900-01-01 07:38:00  1900-01-01 07:05:58
             40135155.0    1900-01-01 06:29:00  1900-01-01 06:06:32
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 19:18:00  1900-01-01 18:29:15
             45106587.0    1900-01-01 20:46:00  1900-01-01 20:10:22
             45106589.0    1900-01-01 22:08:00  1900-01-01 21:31:41
             45108415.0    1900-01-01 09:33:00  1900-01-01 08:52:28
             45108654.0    1900-01-01 19:07:00  1900-01-01 18:18:29

                                                                     \
stop_sequence                              2.0                  3.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:15:31  1900-01-01 05:18:40
             40135103.0    1900-01-01 06:26:35  1900-01-01 06:29:44
             40135105.0    1900-01-01 07:50:45  1900-01-01 07:58:47
             40135121.0    1900-01-01 07:11:33  1900-01-01 07:16:09
             40135155.0    1900-01-01 06:10:19  1900-01-01 06:13:58
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:35:19  1900-01-01 18:40:59
             45106587.0    1900-01-01 20:15:49  1900-01-01 20:20:23
             45106589.0    1900-01-01 21:36:45  1900-01-01 21:40:10
             45108415.0    1900-01-01 09:01:59  1900-01-01 09:07:48
             45108654.0    1900-01-01 18:26:32  1900-01-01 18:30:58

                                                                     \
stop_sequence                              4.0                  5.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:23:17  1900-01-01 05:27:18
             40135103.0    1900-01-01 06:33:44  1900-01-01 06:37:34
             40135105.0    1900-01-01 08:05:57  1900-01-01 08:16:15
             40135121.0    1900-01-01 07:21:40  1900-01-01 07:26:39
             40135155.0    1900-01-01 06:18:04  1900-01-01 06:24:12
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:45:21  1900-01-01 18:52:06
             45106587.0    1900-01-01 20:25:19  1900-01-01 20:30:12
             45106589.0    1900-01-01 21:45:06  1900-01-01 21:49:03
             45108415.0    1900-01-01 09:14:54  1900-01-01 09:22:32
             45108654.0    1900-01-01 18:37:36  1900-01-01 18:42:02

                                                                     \
stop_sequence                              6.0                  7.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:29:26  1900-01-01 05:33:52
             40135103.0    1900-01-01 06:41:52  1900-01-01 06:44:50
             40135105.0    1900-01-01 08:21:31  1900-01-01 08:25:16
             40135121.0    1900-01-01 07:31:13  1900-01-01 07:34:58
             40135155.0    1900-01-01 06:30:14  1900-01-01 06:32:30
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 18:57:00  1900-01-01 19:02:33
             45106587.0    1900-01-01 20:36:50  1900-01-01 20:40:59
             45106589.0    1900-01-01 21:51:46  1900-01-01 21:56:42
             45108415.0    1900-01-01 09:31:23  1900-01-01 09:36:59
             45108654.0    1900-01-01 18:46:40  1900-01-01 18:52:35


stop_sequence                              8.0                  9.0
service_date half_trip_id
2018-08-02   40135101.0    1900-01-01 05:37:17  1900-01-01 05:37:40
             40135103.0    1900-01-01 06:50:07  1900-01-01 06:50:37
             40135105.0    1900-01-01 08:36:05  1900-01-01 08:37:11
             40135121.0    1900-01-01 07:42:13  1900-01-01 07:43:01
             40135155.0    1900-01-01 06:40:49  1900-01-01 06:41:32
...                                        ...                  ...
2019-09-30   45106585.0    1900-01-01 19:08:32  1900-01-01 19:09:43
             45106587.0    1900-01-01 20:45:23  1900-01-01 20:45:59
             45106589.0    1900-01-01 22:00:03  1900-01-01 22:00:24
             45108415.0    1900-01-01 09:43:55                  NaN
             45108654.0    1900-01-01 19:00:40  1900-01-01 19:01:43

[40646 rows x 18 columns]

## MBTA Bus Ridership

In [68]:
# Check route variants
df[["route_id", "route_variant"]].groupby(['route_id', 'route_variant']).size().head(20)

route_id  route_variant
1         1-_-0            29946
          1-_-1            31732
10        10-1-1              50
          10-2-1              68
          10-3-0              35
          10-4-0              45
          10-5-0             440
          10-6-0              56
          10-8-0             306
          10-9-0           12648
          10-9-1           11789
          10-_-0            2421
          10-_-1            2812
100       100-1-0            543
          100-1-1            512
          100-3-0           6232
          100-3-1           5712
          100-_-1             32
101       101-1-0            174
          101-1-1            566
dtype: int64

In [69]:
filter_columns = ["season", "trip_start_time", "stop_id", "stop_sequence", "boardings", "alightings", "load_", "sample_size"]
filter_rows = (df['route_id'] == '1') & \
              (df['route_variant'] == "1-_-1") & \
              (df['day_type_name'] == "weekday")
sort_columns = ['season', 'trip_start_time', 'stop_sequence']
df2 = df[filter_columns][filter_rows].sort_values(by=sort_columns)
df2

,season,trip_start_time,stop_id,stop_sequence,boardings,alightings,load_,sample_size
7491,Fall 2016,05:10:00,110,1,5.1,0.0,5.7,13
7495,Fall 2016,05:10:00,2168,2,0.5,0.0,6.5,13
7493,Fall 2016,05:10:00,2166,3,0.2,0.7,6.6,13
7494,Fall 2016,05:10:00,2167,4,0.0,0.0,6.6,13
7220,Fall 2016,05:10:00,66,5,0.2,0.0,6.8,13
...,...,...,...,...,...,...,...,...
2604889,Fall 2019,25:12:00,10100,24,0.1,0.3,2.6,36
2604890,Fall 2019,25:12:00,10101,25,0.0,0.0,2.6,36
2604897,Fall 2019,25:12:00,62,26,0.0,0.0,2.6,36
2604898,Fall 2019,25:12:00,63,27,0.0,0.1,2.5,36
2604899,Fall 2019,25:12:00,64,28,0.0,2.5,0.0,36

In [70]:
df2.groupby(['season','trip_start_time', 'stop_sequence']).size()

season     trip_start_time  stop_sequence
Fall 2016  05:10:00         1                1
                            2                1
                            3                1
                            4                1
                            5                1
                                            ..
Fall 2019  25:12:00         24               1
                            25               1
                            26               1
                            27               1
                            28               1
Length: 12740, dtype: int64

In [71]:
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 60)
df3 = df2.pivot(index=['season','trip_start_time'], columns=['stop_sequence'], values=['boardings',	'alightings',	'load_', 'sample_size'])
df3

                          boardings                                          \
stop_sequence                    1    2    3    4    5    6    7    8    9
season    trip_start_time
Fall 2016 05:10:00              5.1  0.5  0.2  0.0  0.2  0.0  0.0  0.2  1.4
          05:30:00              4.6  0.5  0.1  0.0  0.0  0.1  0.4  0.0  0.5
          05:50:00              2.5  0.9  0.9  0.0  0.0  2.2  1.0  0.7  1.0
          06:06:00              2.1  0.9  1.1  0.0  0.4  0.3  0.6  0.6  1.0
          06:21:00              1.8  1.1  0.3  0.0  0.1  0.8  0.5  0.8  1.2
...                             ...  ...  ...  ...  ...  ...  ...  ...  ...
Fall 2019 24:08:00              1.8  0.5  0.4  0.2  0.4  0.2  0.1  0.3  0.2
          24:22:00              1.2  1.3  0.2  0.1  0.1  0.1  0.0  0.3  0.2
          24:37:00              1.8  0.7  0.3  0.1  0.1  0.0  0.0  0.1  0.1
          24:52:00              1.6  1.2  0.1  0.1  0.1  0.1  0.0  0.0  0.1
          25:12:00              3.2  0.0  0.0  0.0  0.2  0.0  0.0  0.0  0.2

                                                                               \
stop_sequence                10   11   12   13   14   15   16   17    18   19
season    trip_start_time
Fall 2016 05:10:00          2.0  0.9  1.2  0.2  0.0  0.3  1.0  2.1   3.4  0.0
          05:30:00          5.5  0.8  0.3  0.2  0.0  1.1  1.5  0.7   4.2  0.1
          05:50:00          8.7  2.1  0.9  0.0  0.1  4.8  1.1  0.3   5.0  0.1
          06:06:00          6.4  1.6  0.9  0.0  0.0  5.4  0.4  1.4  13.6  0.0
          06:21:00         10.3  1.8  0.5  0.4  0.8  6.4  1.2  3.2  13.5  0.3
...                         ...  ...  ...  ...  ...  ...  ...  ...   ...  ...
Fall 2019 24:08:00          1.6  1.1  0.4  1.4  0.1  1.7  0.5  0.2   1.0  0.2
          24:22:00          1.0  0.6  0.4  0.6  0.1  0.7  0.3  0.2   0.9  0.2
          24:37:00          1.1  0.2  0.2  0.6  0.1  0.6  0.2  0.2   0.6  0.2
          24:52:00          0.9  0.5  0.1  0.6  0.1  0.6  0.2  0.3   0.5  0.1
          25:12:00          0.5  0.1  0.1  0.1  0.1  0.3  0.1  0.1   0.1  0.1

                                                                        \
stop_sequence               20   21   22   23   24   25   26   27   28
season    trip_start_time
Fall 2016 05:10:00         0.2  0.1  0.2  0.4  0.0  0.0  0.0  0.0  0.0
          05:30:00         0.0  0.5  0.4  0.3  0.0  0.0  0.0  0.0  0.0
          05:50:00         0.2  0.9  0.6  0.6  0.0  0.0  0.0  0.0  0.0
          06:06:00         0.1  0.4  1.1  1.4  0.1  0.0  0.0  0.0  0.0
          06:21:00         0.1  0.4  0.5  1.2  0.0  0.0  0.0  0.0  0.0
...                        ...  ...  ...  ...  ...  ...  ...  ...  ...
Fall 2019 24:08:00         0.3  0.3  0.2  0.3  0.0  0.0  0.0  0.0  0.0
          24:22:00         0.1  0.4  0.1  0.1  0.0  0.0  0.0  0.0  0.0
          24:37:00         0.2  0.3  0.1  0.3  0.0  0.0  0.0  0.0  0.0
          24:52:00         0.2  0.3  0.1  0.2  0.0  0.0  0.0  0.0  0.0
          25:12:00         0.1  0.1  0.1  0.2  0.1  0.0  0.0  0.0  0.0

                          alightings       ... load_      sample_size        \
stop_sequence                     1    2   ...    27   28          1     2
season    trip_start_time                  ...
Fall 2016 05:10:00               0.0  0.0  ...   4.5  0.1        13.0  13.0
          05:30:00               0.0  0.1  ...   2.7  0.0        22.0  22.0
          05:50:00               0.0  0.0  ...   6.3  0.2         9.0   9.0
          06:06:00               0.0  0.0  ...   5.3  0.0         8.0   8.0
          06:21:00               0.0  0.0  ...   6.4  0.0        13.0  13.0
...                              ...  ...  ...   ...  ...         ...   ...
Fall 2019 24:08:00               0.0  0.0  ...   4.5  0.1        65.0  65.0
          24:22:00               0.0  0.0  ...   2.5  0.2        65.0  65.0
          24:37:00               0.0  0.0  ...   2.2  0.0        52.0  52.0
          24:52:00               0.0  0.0  ...   2.7  0.0        59.0  59.0
          25:12:00               0.0  0.0  ...   2.5  0.0        36.0  36.0

                                                                           \
stop_sequence                3     4     5     6     7     8     9     10
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0

                                                                           \
stop_sequence                11    12    13    14    15    16    17    18
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0

                                                                           \
stop_sequence                19    20    21    22    23    24    25    26
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0


stop_sequence                27    28
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0
          05:30:00         22.0  22.0
          05:50:00          9.0   9.0
          06:06:00          8.0   8.0
          06:21:00         13.0  13.0
...                         ...   ...
Fall 2019 24:08:00         65.0  65.0
          24:22:00         65.0  65.0
          24:37:00         52.0  52.0
          24:52:00         59.0  59.0
          25:12:00         36.0  36.0

[455 rows x 112 columns]

# Training

## TODO

# Inference

## TODO