<a href="https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [1]:
# Imports
from getpass import getpass
import pandas as pd
import os

In [2]:
!pip install geopandas
import geopandas as gpd

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 5.6MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 326kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 44.8MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.4)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2020.6.20)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Installing collected packages: click-plugins, cligj, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.0 fiona-1.8.18 geopandas-0.8.1 munch-2.5.0 pyproj-3.0.0.post1

# Data Preparation

In [6]:
if os.path.exists('PGM-Project'):
  !git -C PGM-Project/ pull 
else:
  u = input('GitHub username: ')
  p = getpass('GitHub password: ')
  !git clone https://$u:$p@github.com/remidion/PGM-Project.git
  del u, p

GitHub username: learicard
GitHub password: ··········
Cloning into 'PGM-Project'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 22 (delta 8), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (22/22), done.

## Load toy data

In [7]:
planned, d_2016_10_21 = pd.read_excel("PGM-Project/data/toy.xlsx", sheet_name=[0,1]).values()

## Download MBTA Data

In [8]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

--2020-11-19 21:30:31--  https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
Resolving opendata.arcgis.com (opendata.arcgis.com)... 52.71.178.190, 34.227.63.44, 3.226.176.122, ...
Connecting to opendata.arcgis.com (opendata.arcgis.com)|52.71.178.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’

eec03d901d2e470ebd5     [              <=>   ]   1.29G  62.6MB/s    in 18s

2020-11-19 21:30:49 (75.1 MB/s) - ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’ saved [1380620043]

In [9]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

--2020-11-19 21:31:32--  https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
Resolving www.arcgis.com (www.arcgis.com)... 18.234.22.251, 52.23.2.231, 18.234.22.28, ...
Connecting to www.arcgis.com (www.arcgis.com)|18.234.22.251|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDO%2BLpM1ecq5mk%2FtX%2F%2FdGHwmoC3NBGsb8cJLTX33bZoGgIgBe5clwMFfXdHUiav4YPgymWThK1Ps44Jgv50C8TLzvsqtAMIZhAAGgw2MDQ3NTgxMDI2NjUiDB0ueVUpCsDlYpIMLiqRA5g2TJI%2Bxbti0WRZc8NMNCiEe34141vXbWN8cgCg383t8T857jbI0A%2Bmmg87EKDst8K1T5xjCnOx3cg5GSzTUCTj9GmfkQligymHjvZlJKBPp6qu7VugnA6UPHqh1jFZ6Te8ocsemHlzMI3bqcF2OanbX6jd3izOEr8fqWa9OCfFOF0r05ampUKh3OsqyOeLUf8swM6dfCq8C9wy07f2OSt83Gs72mLdncf7dWnZWEMycaYuo9fUmsgp5DJvDQZdfRhtJZySTCVxHTUwmgHOYx7BnXUTAnrcIfvJRweNgSyYFc6VihQqwdkhpQ3RfBIaqmfyjmibAckGwAYa%2BsnYxllAxlZVAY20Yf0zK5wuOYkPst6ubAWxTGVhKmzZLtyBy0KsNIUZfqJ9v8MKh%2FMSWgswIabttUasbFlB8G795JiJwSScl0tOrJZ5QfKhkq7d6GpiQIbEEFIeklqwMODboC%2FfFz0wO3xbWB9SVpWUiY63xfkhvwfJWMnQBuzpdI%2FEm1d0hR2QHw5AU8HrDjCbMg6SMJ%2B92%2F0FOusBHVDOV19tM9BpnDBdrBe0OPmpextkXfCYgSfa0vLyXrMHY%2Fyyqgc5caPWiOuRb%2FiNcbklpTomkuhErGseLQUbMM6u8YHjCSlUzKq7uK9IIn5S58H1dRrCJIF%2BgHzCrQ8Zph3%2F4JwGjILvPM4J4ifbusbdvaiHVrhtKtEnQwRp4Y73RkTkWCvlBFFVMcSAc%2FswPxj3iK4ue7JIrdnj8XN3rC1802yFgrTZ4ieJgoQ7jlAIBZx1TKg%2FGDvkTRd%2FhsotnxJtVJzrOZdJr8%2BO7dKO3ehhk9AAYi3aEwZnZouA5q0WKYFuqCHNs7XoEQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201119T213132Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEW5UVO37B%2F20201119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=e25809eba0fd149ec787feaad3d61eb9d662397365fb42cb502b7386f44f6a7d [following]
--2020-11-19 21:31:32--  https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDO%2BLpM1ecq5mk%2FtX%2F%2FdGHwmoC3NBGsb8cJLTX33bZoGgIgBe5clwMFfXdHUiav4YPgymWThK1Ps44Jgv50C8TLzvsqtAMIZhAAGgw2MDQ3NTgxMDI2NjUiDB0ueVUpCsDlYpIMLiqRA5g2TJI%2Bxbti0WRZc8NMNCiEe34141vXbWN8cgCg383t8T857jbI0A%2Bmmg87EKDst8K1T5xjCnOx3cg5GSzTUCTj9GmfkQligymHjvZlJKBPp6qu7VugnA6UPHqh1jFZ6Te8ocsemHlzMI3bqcF2OanbX6jd3izOEr8fqWa9OCfFOF0r05ampUKh3OsqyOeLUf8swM6dfCq8C9wy07f2OSt83Gs72mLdncf7dWnZWEMycaYuo9fUmsgp5DJvDQZdfRhtJZySTCVxHTUwmgHOYx7BnXUTAnrcIfvJRweNgSyYFc6VihQqwdkhpQ3RfBIaqmfyjmibAckGwAYa%2BsnYxllAxlZVAY20Yf0zK5wuOYkPst6ubAWxTGVhKmzZLtyBy0KsNIUZfqJ9v8MKh%2FMSWgswIabttUasbFlB8G795JiJwSScl0tOrJZ5QfKhkq7d6GpiQIbEEFIeklqwMODboC%2FfFz0wO3xbWB9SVpWUiY63xfkhvwfJWMnQBuzpdI%2FEm1d0hR2QHw5AU8HrDjCbMg6SMJ%2B92%2F0FOusBHVDOV19tM9BpnDBdrBe0OPmpextkXfCYgSfa0vLyXrMHY%2Fyyqgc5caPWiOuRb%2FiNcbklpTomkuhErGseLQUbMM6u8YHjCSlUzKq7uK9IIn5S58H1dRrCJIF%2BgHzCrQ8Zph3%2F4JwGjILvPM4J4ifbusbdvaiHVrhtKtEnQwRp4Y73RkTkWCvlBFFVMcSAc%2FswPxj3iK4ue7JIrdnj8XN3rC1802yFgrTZ4ieJgoQ7jlAIBZx1TKg%2FGDvkTRd%2FhsotnxJtVJzrOZdJr8%2BO7dKO3ehhk9AAYi3aEwZnZouA5q0WKYFuqCHNs7XoEQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201119T213132Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEW5UVO37B%2F20201119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=e25809eba0fd149ec787feaad3d61eb9d662397365fb42cb502b7386f44f6a7d
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.20.246
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.20.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164022194 (156M) [application/zip]
Saving to: ‘data’

data                100%[===================>] 156.42M  27.0MB/s    in 5.7s

2020-11-19 21:31:38 (27.3 MB/s) - ‘data’ saved [164022194/164022194]

Archive:  data
  inflating: MBTA Bus Arrival Departure Aug-Sept 2018.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2018.csv
--2020-11-19 21:31:49--  https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
Resolving www.arcgis.com (www.arcgis.com)... 18.234.22.251, 18.234.22.28, 18.234.22.27, ...
Connecting to www.arcgis.com (www.arcgis.com)|18.234.22.251|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCYAxfsP2BHLMqbtcCrXh7K63lgwGd9JSji2s%2FLKOn1AAIgcktnPYSqZnr%2Bs6ut%2B5jYIyqZyQeMo4YdIUiD6c9eGJkqtAMIZhAAGgw2MDQ3NTgxMDI2NjUiDCoioCfPr%2FV5yFf3dCqRA7hGzHt1rNBVeqqlVzue2%2FSJQ0LNdCKaso5tmFdvCzil1YhrZbD5DiT1Dl8REqdGaoMizBB9SALjmnNsCBJfQm3fizLKLQx5GVb2Eu2H8G5ByEkhAUy91But0K8HbIy3OwiDSAtvT9jD6lrJ0CH6Q9qmg8AFj4%2FrBSV6QID8F4OvuagmhG%2Bow2l70MUW%2BTvPkw0s5H2ovH5%2FhHfETQJnX73zrnGLVIJyxNOnR3QLcu8WX4zMoPP3X9G%2BrwoXmDGw6mqM6NZW6amhgFbbXP%2BYhEaTETtoRp771e6kdlJiW6xiCiwsLzLQyct1OAF8kFf0a5%2FUM6T6ycW0SXskcMFpug3tWp5M2Fr0AAhy8NdIlBJkS%2BWiVi6bfe4nM2QishGYPDFxyTgzwHSY3ARYahNcufo6l%2FUPcZUWU1oSvnwMEV%2FkBLMiFjKQqgskAExOUddbYA7RHqxSJo%2BfR3nQqVH%2BRkHj2G9lMB1wh2SJeCNY6Zz6xvEzwIV5JKBvTOxZKGEgKpyAlXHFicBvSSVkcZKtXkgnMLyq2%2F0FOusBwmv2FR8ywVcMgVQ%2FobDFArW%2F%2BYawo%2Bv5OFqbCtaM05ee4g6Don1JrRD%2F7%2FYu%2BZofzUYShR%2BukH8XaNH2RvwAogr%2FrNiB571ggVjU2gzzkqWeqT9pfI2uFBg3FoqmorvvPgJ0mHtncM6vjp4gLYdU%2FJhQUjRl%2B949IEk6Fqt0q0B1U9TNXXrfxgrwOe%2FVmWUgytuTsz7ml08%2BlUXIGx0jW5W%2FhYLeMUCR04vFm9O0ZZU9Up%2FglVioCshra1Ya9rXkYevdlzjoO6xf6mytDDsoNXN6zdqf0KlRp3lQfTO%2Fx9O5%2F%2FzAOBdDdFGyQw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201119T213149Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQ6QPTS6N%2F20201119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=cfa146fc3e928179fb6cbcff11c2fb4fb5ca981892ceecb4acbf12596563e400 [following]
--2020-11-19 21:31:49--  https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCYAxfsP2BHLMqbtcCrXh7K63lgwGd9JSji2s%2FLKOn1AAIgcktnPYSqZnr%2Bs6ut%2B5jYIyqZyQeMo4YdIUiD6c9eGJkqtAMIZhAAGgw2MDQ3NTgxMDI2NjUiDCoioCfPr%2FV5yFf3dCqRA7hGzHt1rNBVeqqlVzue2%2FSJQ0LNdCKaso5tmFdvCzil1YhrZbD5DiT1Dl8REqdGaoMizBB9SALjmnNsCBJfQm3fizLKLQx5GVb2Eu2H8G5ByEkhAUy91But0K8HbIy3OwiDSAtvT9jD6lrJ0CH6Q9qmg8AFj4%2FrBSV6QID8F4OvuagmhG%2Bow2l70MUW%2BTvPkw0s5H2ovH5%2FhHfETQJnX73zrnGLVIJyxNOnR3QLcu8WX4zMoPP3X9G%2BrwoXmDGw6mqM6NZW6amhgFbbXP%2BYhEaTETtoRp771e6kdlJiW6xiCiwsLzLQyct1OAF8kFf0a5%2FUM6T6ycW0SXskcMFpug3tWp5M2Fr0AAhy8NdIlBJkS%2BWiVi6bfe4nM2QishGYPDFxyTgzwHSY3ARYahNcufo6l%2FUPcZUWU1oSvnwMEV%2FkBLMiFjKQqgskAExOUddbYA7RHqxSJo%2BfR3nQqVH%2BRkHj2G9lMB1wh2SJeCNY6Zz6xvEzwIV5JKBvTOxZKGEgKpyAlXHFicBvSSVkcZKtXkgnMLyq2%2F0FOusBwmv2FR8ywVcMgVQ%2FobDFArW%2F%2BYawo%2Bv5OFqbCtaM05ee4g6Don1JrRD%2F7%2FYu%2BZofzUYShR%2BukH8XaNH2RvwAogr%2FrNiB571ggVjU2gzzkqWeqT9pfI2uFBg3FoqmorvvPgJ0mHtncM6vjp4gLYdU%2FJhQUjRl%2B949IEk6Fqt0q0B1U9TNXXrfxgrwOe%2FVmWUgytuTsz7ml08%2BlUXIGx0jW5W%2FhYLeMUCR04vFm9O0ZZU9Up%2FglVioCshra1Ya9rXkYevdlzjoO6xf6mytDDsoNXN6zdqf0KlRp3lQfTO%2Fx9O5%2F%2FzAOBdDdFGyQw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201119T213149Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQ6QPTS6N%2F20201119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=cfa146fc3e928179fb6cbcff11c2fb4fb5ca981892ceecb4acbf12596563e400
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.82.117
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.82.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387554431 (370M) [application/zip]
Saving to: ‘data.1’

data.1              100%[===================>] 369.60M  22.7MB/s    in 15s

2020-11-19 21:32:05 (24.1 MB/s) - ‘data.1’ saved [387554431/387554431]

Archive:  data.1
  inflating: MBTA Bus Arrival Departure Apr-June 2019.csv
  inflating: MBTA Bus Arrival Departure Jan-Mar 2019.csv
  inflating: MBTA Bus Arrival Departure Jul-Sept 2019.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2019.csv

## Load MBTA Data

In [10]:
# df = pd.read_json("MBTA Bus Ridership.geojson")

In [11]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")

In [12]:
df = gpd.read_file("MBTA Bus Ridership.geojson")

In [ ]:
df

             FID     season route_id  ... load_  sample_size geometry
0              1  Fall 2016        1  ...   7.8           13     None
1              2  Fall 2016        1  ...   9.4           13     None
2              3  Fall 2016        1  ...  10.4           13     None
3              4  Fall 2016        1  ...   8.5           13     None
4              5  Fall 2016        1  ...   8.4           13     None
...          ...        ...      ...  ...   ...          ...      ...
3451727  3451728  Fall 2019       99  ...   0.0            5     None
3451728  3451729  Fall 2019       99  ...   0.0            5     None
3451729  3451730  Fall 2019       99  ...   0.0            5     None
3451730  3451731  Fall 2019       99  ...   0.0            5     None
3451731  3451732  Fall 2019       99  ...   0.0            5     None

[3451732 rows x 16 columns]

In [ ]:
df2

        service_date route_id  ... scheduled_headway  headway
0         2019-04-01       01  ...               NaN      NaN
1         2019-04-01       01  ...               NaN      NaN
2         2019-04-01       01  ...               NaN      NaN
3         2019-04-01       01  ...               NaN      NaN
4         2019-04-01       01  ...            1200.0   1230.0
...              ...      ...  ...               ...      ...
7670643   2019-06-30      SL5  ...             900.0      NaN
7670644   2019-06-30      SL5  ...             900.0      NaN
7670645   2019-06-30      SL5  ...             900.0      NaN
7670646   2019-06-30      SL5  ...             900.0      NaN
7670647   2019-06-30      SL5  ...             900.0      NaN

[7670648 rows x 13 columns]

# Selection of the bus route

In [34]:
tot_sample_size = df.groupby(by=['route_id', 'direction_id'], as_index=False)['sample_size'].sum()
tot_sample_size.sort_values(by = 'sample_size')

    route_id  direction_id  sample_size
273      725             0         1040
274      725             1         1100
211      502             0         3187
57       170             1         4200
213      503             0         4581
..       ...           ...          ...
120       32             1       746150
248       66             1       754626
1          1             1       758696
112       28             1       827974
94        23             1       857938

[341 rows x 3 columns]

# Preprocess data

## Toy

In [31]:
planned.columns

Index(['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Voiture', 'Type',
       'Direction'],
      dtype='object')

In [32]:
filter_rows = (planned['Ligne'] == 10.0) & \
              (planned['Direction'] == "Nord")

filter_columns = ['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Direction']

planned[filter_rows][filter_columns]

    Ligne      De               Début  ...     À NoPermanent  Direction
2    10.0  M15001 2000-01-01 20:21:00  ...  H052    25286880       Nord
4    10.0  M15001 2000-01-01 22:21:00  ...  H052    80018209       Nord
6    10.0  M15001 2000-01-02 00:21:00  ...  H052    79994754       Nord
17   10.0  M15001 2000-01-02 11:21:00  ...  H052    25286806       Nord
19   10.0  M15001 2000-01-02 13:21:00  ...  H052    33657803       Nord
21   10.0  M15001 2000-01-02 15:21:00  ...  H052    25286802       Nord

[6 rows x 7 columns]

In [33]:
filter_rows = (d_2016_10_21['ROUTE_ID'] == 10) & \
              (d_2016_10_21['DIRECTION'] == 1)

filter_columns = ['MEA_DATE', 'TRIP_ID', 'ROUTE_ID',
       'DIRECTION', 'STOP_ID', 'SCHEDULED_TIME',
       'MEA_ARR_TIME', 'MEA_DEP_TIME', 'NB_BOARDING', 'NB_DEBARKING',
       'PASSENGER_LOAD', 'AVG_PASSENGER_LOAD_TRIP', 'SYSRECNO']

d_2016_10_21[filter_rows][filter_columns]

    MEA_DATE  TRIP_ID  ...  AVG_PASSENGER_LOAD_TRIP   SYSRECNO
0      42664       23  ...                     36.0  101471030
1      42664       23  ...                      NaN  101471031
4      42664       21  ...                     39.0  101471034
5      42664       21  ...                      NaN  101471035
8      42664       19  ...                     41.0  101471038
9      42664       19  ...                      NaN  101471039
12     42664        8  ...                     36.0  101471042
13     42664        8  ...                      NaN  101471043
16     42664        6  ...                     51.0  101471046
17     42664        6  ...                      NaN  101471047
20     42664        4  ...                     30.0  101471050
21     42664        4  ...                      NaN  101471051
24     42664        2  ...                     10.0  101471054
25     42664        2  ...                      NaN  101471055

[14 rows x 13 columns]