[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [27]:
# Imports
from getpass import getpass
import pandas as pd
import os
import numpy as np

In [2]:
!pip install geopandas
import geopandas as gpd

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 7.2MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 15.0MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 261kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj>=2.2.0->geopandas) (2020.6.20)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Installing collected packages: pyproj, munch, click-plugins, cligj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.0 fiona-1.8.18 geopandas-0.8.1 munch-2.5.0 pyproj-3.0.0.post1

# Data Preparation

In [3]:
if os.path.exists('PGM-Project'):
  !git -C PGM-Project/ pull 
else:
  u = input('GitHub username: ')
  p = getpass('GitHub password: ')
  !git clone https://$u:$p@github.com/remidion/PGM-Project.git
  del u, p

GitHub username: learicard
GitHub password: ··········
Cloning into 'PGM-Project'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 31 (delta 14), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (31/31), done.

## Load toy data

In [4]:
planned, d_2016_10_21 = pd.read_excel("PGM-Project/data/toy.xlsx", sheet_name=[0,1]).values()

## Download MBTA Data

In [5]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

--2020-11-20 16:07:58--  https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
Resolving opendata.arcgis.com (opendata.arcgis.com)... 34.207.11.89, 34.233.182.150, 3.224.48.55, ...
Connecting to opendata.arcgis.com (opendata.arcgis.com)|34.207.11.89|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’

eec03d901d2e470ebd5     [          <=>       ]   1.29G  45.5MB/s    in 30s

2020-11-20 16:08:29 (43.5 MB/s) - ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’ saved [1380620043]

In [6]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

--2020-11-20 16:08:39--  https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
Resolving www.arcgis.com (www.arcgis.com)... 34.199.206.244, 18.234.22.27, 18.234.22.251, ...
Connecting to www.arcgis.com (www.arcgis.com)|34.199.206.244|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAAaCXVzLWVhc3QtMSJIMEYCIQDjNhVAofEjIOo0GSxQqI2aJHy%2FXYXmY0SZWdInEAfbKwIhAMjeAMDDLBRQRj3622Qy5tsqycovQZtOLphtjaPhV%2F3WKrQDCHkQABoMNjA0NzU4MTAyNjY1IgyqXouOibjk3%2BtvR%2BIqkQMm6X3UTGvh5S%2BPwXxjQ%2FmlHPSc03WhhNaNjv9aALWLSfqs6G%2FEiGEBNcAAEWFylWQ7Bta%2FZUEOviUhR0fRBfe5ersJ5xBleUaveiiwwoL893NPFQOBtvhIE1um8KkBe9IYGBemPiLPbgq0DX44lN0yqGOaV3zAT9NxiMQuxvqPfizc%2Bq3%2B00FtBqemKvwPzr9OP%2FjLWpRyaSdPf6gDPFP5IsWOFNR6s7YWeeWfPjK3OJOj0j8tk08ZCcGebuz%2FQ%2FWu%2ByU8X%2B9YT9FeSBWNtb2l5W6o3FZCzXI4uALGm9Xp%2FOASblS4uxnCOeBMp1L%2FzBgh0JFhBCaQ6mN9jsu7FZpvseB9lz0Lj3AvNuCoryUQp6vgTSves9fcH0GsaPFD0rqmBb6btAPgzUm4Ch%2BWBT3%2BkJWsede%2F258vWvFQ8dqvVUZdIJeV6z4gaywsd35wRm6C3Uyh6Fwx%2FEnrjBiFNL3IhMAQz3BCVTALBzQk7ya6o7hDtPGw5TbPg784AnERP4jO72HckrDhO4%2B%2Fqc2o6JoOuzCxyN%2F9BTrqARQNyyKMkuiHnMbBVpjjjSm1FuqROx9KPkWbU6tmT8CNz1xXYNwEg9%2Bp92miUXgxNp%2BAHbadxa4J%2BrHvkPyTJD1cPzMxd3oXjqHjtDNzv5GI9DlMA0TyuGw%2FsV9%2BpUNEhB1HUTDmIzq4JcaSw9nlLZGX5JbMcGpnC8z1Hmg%2BGsXWN7BeH0X3mXL6Uslxu2My4BWlo3V7sCC0uGvXTzUEL42c7ZWy7v7jYAnhtUWtBBikKG4P5%2F2k3dr9%2FczxyopiA5qK3FNsadz7JRJKNXb3%2BBSfkzYUkDprX2IZau6gmiHqRXI3D55HBRtyKA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201120T160839Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEVG4FXAP2%2F20201120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=b75dfe88c21af7ae6cfa8fc0effb44fdea73b7c87c74aea0d2e33d1bc7a0dfdc [following]
--2020-11-20 16:08:39--  https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAAaCXVzLWVhc3QtMSJIMEYCIQDjNhVAofEjIOo0GSxQqI2aJHy%2FXYXmY0SZWdInEAfbKwIhAMjeAMDDLBRQRj3622Qy5tsqycovQZtOLphtjaPhV%2F3WKrQDCHkQABoMNjA0NzU4MTAyNjY1IgyqXouOibjk3%2BtvR%2BIqkQMm6X3UTGvh5S%2BPwXxjQ%2FmlHPSc03WhhNaNjv9aALWLSfqs6G%2FEiGEBNcAAEWFylWQ7Bta%2FZUEOviUhR0fRBfe5ersJ5xBleUaveiiwwoL893NPFQOBtvhIE1um8KkBe9IYGBemPiLPbgq0DX44lN0yqGOaV3zAT9NxiMQuxvqPfizc%2Bq3%2B00FtBqemKvwPzr9OP%2FjLWpRyaSdPf6gDPFP5IsWOFNR6s7YWeeWfPjK3OJOj0j8tk08ZCcGebuz%2FQ%2FWu%2ByU8X%2B9YT9FeSBWNtb2l5W6o3FZCzXI4uALGm9Xp%2FOASblS4uxnCOeBMp1L%2FzBgh0JFhBCaQ6mN9jsu7FZpvseB9lz0Lj3AvNuCoryUQp6vgTSves9fcH0GsaPFD0rqmBb6btAPgzUm4Ch%2BWBT3%2BkJWsede%2F258vWvFQ8dqvVUZdIJeV6z4gaywsd35wRm6C3Uyh6Fwx%2FEnrjBiFNL3IhMAQz3BCVTALBzQk7ya6o7hDtPGw5TbPg784AnERP4jO72HckrDhO4%2B%2Fqc2o6JoOuzCxyN%2F9BTrqARQNyyKMkuiHnMbBVpjjjSm1FuqROx9KPkWbU6tmT8CNz1xXYNwEg9%2Bp92miUXgxNp%2BAHbadxa4J%2BrHvkPyTJD1cPzMxd3oXjqHjtDNzv5GI9DlMA0TyuGw%2FsV9%2BpUNEhB1HUTDmIzq4JcaSw9nlLZGX5JbMcGpnC8z1Hmg%2BGsXWN7BeH0X3mXL6Uslxu2My4BWlo3V7sCC0uGvXTzUEL42c7ZWy7v7jYAnhtUWtBBikKG4P5%2F2k3dr9%2FczxyopiA5qK3FNsadz7JRJKNXb3%2BBSfkzYUkDprX2IZau6gmiHqRXI3D55HBRtyKA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201120T160839Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEVG4FXAP2%2F20201120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=b75dfe88c21af7ae6cfa8fc0effb44fdea73b7c87c74aea0d2e33d1bc7a0dfdc
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.107.178
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.107.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164022194 (156M) [application/zip]
Saving to: ‘data’

data                100%[===================>] 156.42M  20.6MB/s    in 7.0s

2020-11-20 16:08:47 (22.3 MB/s) - ‘data’ saved [164022194/164022194]

Archive:  data
  inflating: MBTA Bus Arrival Departure Aug-Sept 2018.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2018.csv
--2020-11-20 16:08:57--  https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
Resolving www.arcgis.com (www.arcgis.com)... 34.233.149.104, 52.23.2.231, 18.234.22.27, ...
Connecting to www.arcgis.com (www.arcgis.com)|34.233.149.104|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAAaCXVzLWVhc3QtMSJHMEUCIBQoN31C1qfZai3cRhwZx6yA8VyUhMO%2FssMLoSTqCSeoAiEA99jgOPSoAL2NxGm9CJ66D%2F83PcrtNQtEmvA2iPw552gqtAMIeRAAGgw2MDQ3NTgxMDI2NjUiDOVRcyRnLk2HLy02piqRA0EQptCD1S%2FjPdR64t6s1Nbd%2B5tz29mC3eoHgKef9vSnl4MAwHSuJe9AlcT5SfDrKof3YiWZ31zC0R8XrNIqrZ2zmf%2FgYCqJiX8wjeqyju2Ii8MK7cIz4SGSh2qszNNP5n8XAeMdovf6DjQs59x6VNsWNNzvOKSFoaILI7r%2Fb7bvfk5u3fHwWPgr92199wsS%2Fg7zEx7yFC6O7ZOcbFN4dODtN6W4kw9MdpZitxYR0zcJt6omZOA5G81fSBHMPt%2FG4k9U7mP3U7n3dpazjNNO3WD%2B%2BEgXzIoeg5J5BlXRinaFinvKVQo5t19cOTTMr9IVfOiAzrHA4XzEpLmJqMKZhxILcc7TGQmsCOQSbZZs7kB5T18OtDWhvFCKFk5vkYc%2BDtsy4NMJCwMSiDzKgbrJt2XR1VC%2B6UUkJy51iicvxYXpFZspZ5ILbenaUic1H27B2WC3cr90U0EDjPhdYY61PUxPPsAIRn%2BIq8v%2FiM%2FAaOv9zX9LlhfYaf%2FXoXugRzw5pdOBhqK%2FfE5qCPV2BMpRuOkoMM7H3%2F0FOusB3w0RJNdLO%2FT6PRw0PcqulZ2lWGEnmHk36y5DV7d8EJoAOALG95KDc7vkpkvqIAMDVd32GPE4aOgfcLxeOST3vmgRmPHLRq%2B4xWxCTgTRCHrFVKvvm4ER0uYwpT15oWLHGDDL%2BonYeuXOAfJ0%2F1R1gjfDnaLe0%2FUB3zuVhrJHt8tRaHb95L8vW0B4o0%2BWNb61zItfVkTQzJ4%2FdJGHBG3v8cZv7d7Jsbexg1wNPsY0nydDf%2B3fIvYXhwP2V9ZI6yVqYbIhzKGmBXcMLmkTLuYoEK6JlO1wCfKsvq%2Fa6BNR8pfXzVFZwKncgFxphA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201120T160857Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEWZRU22G6%2F20201120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=bcf9c919a84218a838babfd0b1f6728a1e3adfc5b8133598868410d9504ca37e [following]
--2020-11-20 16:08:57--  https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAAaCXVzLWVhc3QtMSJHMEUCIBQoN31C1qfZai3cRhwZx6yA8VyUhMO%2FssMLoSTqCSeoAiEA99jgOPSoAL2NxGm9CJ66D%2F83PcrtNQtEmvA2iPw552gqtAMIeRAAGgw2MDQ3NTgxMDI2NjUiDOVRcyRnLk2HLy02piqRA0EQptCD1S%2FjPdR64t6s1Nbd%2B5tz29mC3eoHgKef9vSnl4MAwHSuJe9AlcT5SfDrKof3YiWZ31zC0R8XrNIqrZ2zmf%2FgYCqJiX8wjeqyju2Ii8MK7cIz4SGSh2qszNNP5n8XAeMdovf6DjQs59x6VNsWNNzvOKSFoaILI7r%2Fb7bvfk5u3fHwWPgr92199wsS%2Fg7zEx7yFC6O7ZOcbFN4dODtN6W4kw9MdpZitxYR0zcJt6omZOA5G81fSBHMPt%2FG4k9U7mP3U7n3dpazjNNO3WD%2B%2BEgXzIoeg5J5BlXRinaFinvKVQo5t19cOTTMr9IVfOiAzrHA4XzEpLmJqMKZhxILcc7TGQmsCOQSbZZs7kB5T18OtDWhvFCKFk5vkYc%2BDtsy4NMJCwMSiDzKgbrJt2XR1VC%2B6UUkJy51iicvxYXpFZspZ5ILbenaUic1H27B2WC3cr90U0EDjPhdYY61PUxPPsAIRn%2BIq8v%2FiM%2FAaOv9zX9LlhfYaf%2FXoXugRzw5pdOBhqK%2FfE5qCPV2BMpRuOkoMM7H3%2F0FOusB3w0RJNdLO%2FT6PRw0PcqulZ2lWGEnmHk36y5DV7d8EJoAOALG95KDc7vkpkvqIAMDVd32GPE4aOgfcLxeOST3vmgRmPHLRq%2B4xWxCTgTRCHrFVKvvm4ER0uYwpT15oWLHGDDL%2BonYeuXOAfJ0%2F1R1gjfDnaLe0%2FUB3zuVhrJHt8tRaHb95L8vW0B4o0%2BWNb61zItfVkTQzJ4%2FdJGHBG3v8cZv7d7Jsbexg1wNPsY0nydDf%2B3fIvYXhwP2V9ZI6yVqYbIhzKGmBXcMLmkTLuYoEK6JlO1wCfKsvq%2Fa6BNR8pfXzVFZwKncgFxphA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201120T160857Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEWZRU22G6%2F20201120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=bcf9c919a84218a838babfd0b1f6728a1e3adfc5b8133598868410d9504ca37e
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.217.65.192
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.217.65.192|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387554431 (370M) [application/zip]
Saving to: ‘data.1’

data.1              100%[===================>] 369.60M  21.3MB/s    in 16s

2020-11-20 16:09:13 (23.1 MB/s) - ‘data.1’ saved [387554431/387554431]

Archive:  data.1
  inflating: MBTA Bus Arrival Departure Apr-June 2019.csv
  inflating: MBTA Bus Arrival Departure Jan-Mar 2019.csv
  inflating: MBTA Bus Arrival Departure Jul-Sept 2019.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2019.csv

## Load MBTA Data

### MBTA Bus Ridership

In [7]:
df = gpd.read_file("MBTA Bus Ridership.geojson")

In [8]:
df

             FID     season route_id  ... load_  sample_size geometry
0              1  Fall 2016        1  ...   7.8           13     None
1              2  Fall 2016        1  ...   9.4           13     None
2              3  Fall 2016        1  ...  10.4           13     None
3              4  Fall 2016        1  ...   8.5           13     None
4              5  Fall 2016        1  ...   8.4           13     None
...          ...        ...      ...  ...   ...          ...      ...
3451727  3451728  Fall 2019       99  ...   0.0            5     None
3451728  3451729  Fall 2019       99  ...   0.0            5     None
3451729  3451730  Fall 2019       99  ...   0.0            5     None
3451730  3451731  Fall 2019       99  ...   0.0            5     None
3451731  3451732  Fall 2019       99  ...   0.0            5     None

[3451732 rows x 16 columns]

### MBTA Bus Arrival

In [9]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")

In [10]:
df2

        service_date route_id  ... scheduled_headway  headway
0         2019-04-01       01  ...               NaN      NaN
1         2019-04-01       01  ...               NaN      NaN
2         2019-04-01       01  ...               NaN      NaN
3         2019-04-01       01  ...               NaN      NaN
4         2019-04-01       01  ...            1200.0   1230.0
...              ...      ...  ...               ...      ...
7670643   2019-06-30      SL5  ...             900.0      NaN
7670644   2019-06-30      SL5  ...             900.0      NaN
7670645   2019-06-30      SL5  ...             900.0      NaN
7670646   2019-06-30      SL5  ...             900.0      NaN
7670647   2019-06-30      SL5  ...             900.0      NaN

[7670648 rows x 13 columns]

## Selection of arrival bus route

In [11]:
from operator import add
import glob

del df2

bus_arrival_files = glob.glob('./*.csv')

df_cumulative = pd.DataFrame()
for f in bus_arrival_files:
  df_tmp = pd.read_csv(f)
  df_cumulative = df_cumulative.append(df_tmp[['route_id','direction','stop_id']])
  print(f"Loaded {f}")

del df_tmp

Loaded ./MBTA Bus Arrival Departure Apr-June 2019.csv
Loaded ./MBTA Bus Arrival Departure Oct-Dec 2018.csv
Loaded ./MBTA Bus Arrival Departure Jul-Sept 2019.csv
Loaded ./MBTA Bus Arrival Departure Oct-Dec 2019.csv
Loaded ./MBTA Bus Arrival Departure Aug-Sept 2018.csv
Loaded ./MBTA Bus Arrival Departure Jan-Mar 2019.csv

In [14]:
# Calculate visits per stop
group = df_cumulative[['route_id','direction','stop_id']].groupby(['route_id','direction'])
unique_stops = group.nunique().rename(columns={"stop_id":"unique_stop_ids"})
total_stops = pd.DataFrame(group.size()).rename(columns={0:"total_stops"})
stops = pd.merge(unique_stops, total_stops, left_index=True, right_index=True)
stops['visits_per_stop'] = stops['total_stops'] / stops['unique_stop_ids']

In [18]:
stops.sort_values('visits_per_stop', ascending=False).head(50)

                    unique_stop_ids  total_stops  visits_per_stop
route_id direction
SL5      Outbound                12       814194     67849.500000
         Inbound                 13       872944     67149.538462
111      Inbound                 12       777438     64786.500000
SL1      Outbound                 7       448292     64041.714286
31       Outbound                 5       304750     60950.000000
         Inbound                  5       300727     60145.400000
SL2      Outbound                 6       345890     57648.333333
         Inbound                  6       335191     55865.166667
111      Outbound                13       718718     55286.000000
23       Inbound                 10       549635     54963.500000
SL1      Inbound                 13       709980     54613.846154
01       Outbound                 9       488393     54265.888889
         Inbound                  9       472691     52521.222222
39       Inbound                 11       561718     51065.272727
28       Inbound                 11       552235     50203.181818
39       Outbound                10       496903     49690.300000
743      Outbound                11       544599     49509.000000
77       Outbound                11       538967     48997.000000
         Inbound                 11       536599     48781.727273
23       Outbound                12       548555     45712.916667
73       Inbound                  8       337072     42134.000000
         Outbound                 8       333680     41710.000000
743      Inbound                 13       541382     41644.769231
SL4      Inbound                 12       488522     40710.166667
57       Outbound                11       429409     39037.181818
SL4      Outbound                12       447846     37320.500000
28       Outbound                16       531276     33204.750000
71       Inbound                  9       292731     32525.666667
         Outbound                 9       292047     32449.666667
746_     Inbound                  4       129754     32438.500000
11       Inbound                  8       255860     31982.500000
07       Inbound                  6       185578     30929.666667
15       Outbound                10       291775     29177.500000
22       Inbound                 14       399692     28549.428571
57       Inbound                 15       426974     28464.933333
746_     Outbound                 4       111214     27803.500000
116      Outbound                 6       163511     27251.833333
93       Outbound                 6       156767     26127.833333
07       Outbound                 6       155275     25879.166667
15       Inbound                 12       307163     25596.916667
44       Inbound                  8       204572     25571.500000
42       Inbound                  4       101804     25451.000000
         Outbound                 4       101787     25446.750000
32       Outbound                16       402072     25129.500000
         Inbound                 17       425293     25017.235294
66       Inbound                 17       422853     24873.705882
88       Outbound                 7       172868     24695.428571
44       Outbound                 8       196977     24622.125000
69       Outbound                 4        98021     24505.250000
22       Outbound                16       389951     24371.937500

## Selection of ridership bus route

In [17]:
tot_sample_size = df.groupby(by=['route_id', 'direction_id'], as_index=False)['sample_size'].sum()
tot_sample_size.sort_values(by = 'sample_size', ascending = False).head(50)

    route_id  direction_id  sample_size
94        23             1       857938
112       28             1       827974
1          1             1       758696
248       66             1       754626
120       32             1       746150
93        23             0       735042
111       28             0       724153
84        22             1       703984
119       32             0       667073
0          1             0       649238
83        22             0       619744
51        15             1       612804
321        9             0       602588
322        9             1       584366
148       39             1       559244
247       66             0       557094
18        11             0       556348
147       39             0       535441
19        11             1       532532
50        15             0       514728
234       57             1       448372
22       111             0       445584
23       111             1       443902
204       47             1       443325
298       77             1       426407
117       31             0       401982
297       77             0       392491
233       57             0       392100
180       44             1       387678
2         10             0       387229
142       36             1       386801
203       47             0       383123
264      70A             1       379440
190       45             1       361727
53        16             1       361680
128       34             1       358286
3         10             1       357793
118       31             1       350551
132       35             1       344006
141       36             0       326265
130      34E             1       325293
179       44             0       321693
7        101             1       318176
52        16             0       316928
263      70A             0       311683
127       34             0       307086
289      749             0       305364
303        8             0       304830
55        17             1       303156
257       70             0       302902

In [33]:
df['route_id'].unique()

array(['1', '10', '100', '101', '104', '105', '106', '108', '109', '11',
       '110', '111', '112', '114', '116', '117', '119', '120', '121',
       '131', '132', '134', '136', '137', '14', '15', '16', '17', '170',
       '171', '18', '19', '201', '202', '21', '210', '211', '212', '214',
       '215', '216', '217', '22', '220', '221', '222', '225', '23', '230',
       '236', '238', '24', '240', '245', '26', '27', '28', '29', '30',
       '31', '32', '325', '326', '33', '34', '34E', '35', '350', '351',
       '352', '354', '36', '37', '38', '39', '4', '40', '41', '411', '42',
       '424', '426', '428', '429', '43', '430', '434', '435', '436',
       '439', '44', '441', '442', '448', '449', '45', '450', '451', '455',
       '456', '459', '465', '47', '5', '50', '501', '502', '503', '504',
       '505', '51', '52', '55', '553', '554', '556', '558', '57', '57A',
       '59', '60', '62', '64', '65', '66', '67', '68', '69', '7', '70',
       '701', '708', '70A', '71', '72', '73', '74', '741', '742', '746',
       '747', '749', '75', '751', '76', '77', '78', '79', '8', '80', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '99', '712', '713', '743', '725'],
      dtype=object)

# Preprocess data

## Toy

In [ ]:
planned.columns

Index(['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Voiture', 'Type',
       'Direction'],
      dtype='object')

In [ ]:
filter_rows = (planned['Ligne'] == 10.0) & \
              (planned['Direction'] == "Nord")

filter_columns = ['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Direction']

planned[filter_rows][filter_columns]

,Ligne,De,Début,Fin,À,NoPermanent,Direction
2,10.0,M15001,2000-01-01 20:21:00,2000-01-01 17:39:00,H052,25286880,Nord
4,10.0,M15001,2000-01-01 22:21:00,2000-01-01 16:18:00,H052,80018209,Nord
6,10.0,M15001,2000-01-02 00:21:00,2000-01-01 14:55:00,H052,79994754,Nord
17,10.0,M15001,2000-01-02 11:21:00,2000-01-01 08:12:00,H052,25286806,Nord
19,10.0,M15001,2000-01-02 13:21:00,2000-01-01 07:02:00,H052,33657803,Nord
21,10.0,M15001,2000-01-02 15:21:00,2000-01-01 05:59:00,H052,25286802,Nord

In [ ]:
filter_rows = (d_2016_10_21['ROUTE_ID'] == 10) & \
              (d_2016_10_21['DIRECTION'] == 1)

filter_columns = ['MEA_DATE', 'TRIP_ID', 'ROUTE_ID',
       'DIRECTION', 'STOP_ID', 'SCHEDULED_TIME',
       'MEA_ARR_TIME', 'MEA_DEP_TIME', 'NB_BOARDING', 'NB_DEBARKING',
       'PASSENGER_LOAD', 'AVG_PASSENGER_LOAD_TRIP', 'SYSRECNO']

d_2016_10_21[filter_rows][filter_columns]

,MEA_DATE,TRIP_ID,ROUTE_ID,DIRECTION,STOP_ID,SCHEDULED_TIME,MEA_ARR_TIME,MEA_DEP_TIME,NB_BOARDING,NB_DEBARKING,PASSENGER_LOAD,AVG_PASSENGER_LOAD_TRIP,SYSRECNO
0,42664,23,10,1,120263,1092600,1092790,1093000,0,16,0,36.0,101471030
1,42664,23,10,1,108481,1073400,1066570,1073500,1,0,1,NaN,101471031
4,42664,21,10,1,120263,1042200,1040910,1050880,0,12,0,39.0,101471034
5,42664,21,10,1,108481,1021200,1017790,1021520,0,0,0,NaN,101471035
8,42664,19,10,1,120263,991800,988900,1001040,0,20,0,41.0,101471038
9,42664,19,10,1,108481,970800,971500,972090,0,0,0,NaN,101471039
12,42664,8,10,1,120263,753600,752210,752370,0,12,0,36.0,101471042
13,42664,8,10,1,108481,732600,726450,732740,4,0,4,NaN,101471043
16,42664,6,10,1,120263,706800,708860,710930,0,26,0,51.0,101471046
17,42664,6,10,1,108481,686400,686530,687930,0,0,0,NaN,101471047
20,42664,4,10,1,120263,669600,670710,671750,0,17,0,30.0,101471050
21,42664,4,10,1,108481,651600,648110,651910,4,0,4,NaN,101471051
24,42664,2,10,1,120263,633600,632530,636760,0,7,0,10.0,101471054
25,42664,2,10,1,108481,617400,615270,617580,0,0,0,NaN,101471055