[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [1]:
# Imports
from getpass import getpass
import pandas as pd
import os

# Data Preparation

In [2]:
if os.path.exists('PGM-Project'):
  !git -C PGM-Project/ pull 
else:
  u = input('GitHub username: ')
  p = getpass('GitHub password: ')
  !git clone https://$u:$p@github.com/remidion/PGM-Project.git
  del u, p

GitHub username: notAlex2
GitHub password: ··········
Cloning into 'PGM-Project'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 16 (delta 4), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (16/16), done.

## Load toy data

In [3]:
planned, d_2016_10_21 = pd.read_excel("PGM-Project/data/toy.xlsx", sheet_name=[0,1]).values()

## Download MBTA Data

In [6]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

--2020-11-17 01:54:03--  https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
Resolving opendata.arcgis.com (opendata.arcgis.com)... 34.205.105.40, 52.22.243.25, 34.194.184.237, ...
Connecting to opendata.arcgis.com (opendata.arcgis.com)|34.205.105.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson.1’

eec03d901d2e470ebd5     [              <=>   ]   1.29G  63.4MB/s    in 16s

2020-11-17 01:54:20 (80.6 MB/s) - ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson.1’ saved [1380620043]

In [9]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

--2020-11-17 01:54:34--  https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
Resolving www.arcgis.com (www.arcgis.com)... 18.234.22.28, 34.233.149.104, 18.234.22.251, ...
Connecting to www.arcgis.com (www.arcgis.com)|18.234.22.28|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQD8Q0i8NrV0g3oE6VlcJy%2BDug3xeA3Anc7xY%2FzCE3LoIQIgGfhDQmJovb7vvQ%2B6hAiX9K8QAG6hgN0lwMO7igQwB1sqtAMIIhAAGgw2MDQ3NTgxMDI2NjUiDMZApxBMWi4CepCxDCqRA%2FxKct9DDerhoBJpevGx6GcYemWAKsQXWA%2F4pwGKIyP7YQlXteCHXguwkwmDRU9whKYfdQtqs92%2FOxHiTWV3NapD57ECOIn2eX8v1jnyn2MGxvOAZ4wHjo0%2BLwL37pyK13pWx00fDweCdsVAhH3QY%2FruFcuqD8IMYVRbZ82zS1R%2FgTHEErV94DcpqP9eX3aszqU%2BrdvVYb%2BYNkBIzgLdoBDBkluk3Fm19gHe3KP7wyFfd%2F3AUeYEvNHT1QV%2B1UgACPvVrt6G2RiEIB%2FlSyk7GOG9FshG3cHD5Wzjp1CEtsGjU9yrff9tFTeMxbsiQaYlLIxlVp28reRwTHYmMLjg%2FPgSAVBpzWAUvi1cGmzLW0ltVzkah9hudnqzBMpzzn0Pi35FNFn4pgmrdpfWwzgUeZQcAzAyCxrcS%2BD9FLGEzoYSKal7sNW%2BsdyPlxz7nIfomjnNHungFt8bTi8%2FDURG2oKUENeNXM0wUSGTtxKJwExupPKYIMqi3NnIIcGL7JhO5GjGXHCqjvJkkqOUvC3n8r9tMKm6zP0FOusB435EmbNIdyR9imlnFuWPKYbU1gT1cqaklW3RqlpTbXr%2B6W5ndl4fib7c5sOwI9ITyx9M9WT2DXS%2FGcyckXB5AAGJeONR7P1LiXCDAesr7cp%2FyT4S0%2FlmKifW8FoJmHSHvP%2BdG5TBdIUBL0N6wZid3LzmUCVfqup8Xhb9uWeejFjNKOQ5DKQZPbeJt%2F4WBdqHb3%2B4%2FX%2FSrYOEvOFaLe4E%2FJZV5dWrUI9VSIapxPNet4yBo6dKrdwxIBpKgjg13f2JdQNY1nWSZLxLl2UinwPjW0b83mdyB5nQE5IQsLf%2BKBqTu4Szy5QlmG%2B9gQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201117T015434Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEVXZ2PZ4F%2F20201117%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=7c51e7502ad7b6ba77757ce636430ee8b5a440f015a75f2ee2271de09c908511 [following]
--2020-11-17 01:54:34--  https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQD8Q0i8NrV0g3oE6VlcJy%2BDug3xeA3Anc7xY%2FzCE3LoIQIgGfhDQmJovb7vvQ%2B6hAiX9K8QAG6hgN0lwMO7igQwB1sqtAMIIhAAGgw2MDQ3NTgxMDI2NjUiDMZApxBMWi4CepCxDCqRA%2FxKct9DDerhoBJpevGx6GcYemWAKsQXWA%2F4pwGKIyP7YQlXteCHXguwkwmDRU9whKYfdQtqs92%2FOxHiTWV3NapD57ECOIn2eX8v1jnyn2MGxvOAZ4wHjo0%2BLwL37pyK13pWx00fDweCdsVAhH3QY%2FruFcuqD8IMYVRbZ82zS1R%2FgTHEErV94DcpqP9eX3aszqU%2BrdvVYb%2BYNkBIzgLdoBDBkluk3Fm19gHe3KP7wyFfd%2F3AUeYEvNHT1QV%2B1UgACPvVrt6G2RiEIB%2FlSyk7GOG9FshG3cHD5Wzjp1CEtsGjU9yrff9tFTeMxbsiQaYlLIxlVp28reRwTHYmMLjg%2FPgSAVBpzWAUvi1cGmzLW0ltVzkah9hudnqzBMpzzn0Pi35FNFn4pgmrdpfWwzgUeZQcAzAyCxrcS%2BD9FLGEzoYSKal7sNW%2BsdyPlxz7nIfomjnNHungFt8bTi8%2FDURG2oKUENeNXM0wUSGTtxKJwExupPKYIMqi3NnIIcGL7JhO5GjGXHCqjvJkkqOUvC3n8r9tMKm6zP0FOusB435EmbNIdyR9imlnFuWPKYbU1gT1cqaklW3RqlpTbXr%2B6W5ndl4fib7c5sOwI9ITyx9M9WT2DXS%2FGcyckXB5AAGJeONR7P1LiXCDAesr7cp%2FyT4S0%2FlmKifW8FoJmHSHvP%2BdG5TBdIUBL0N6wZid3LzmUCVfqup8Xhb9uWeejFjNKOQ5DKQZPbeJt%2F4WBdqHb3%2B4%2FX%2FSrYOEvOFaLe4E%2FJZV5dWrUI9VSIapxPNet4yBo6dKrdwxIBpKgjg13f2JdQNY1nWSZLxLl2UinwPjW0b83mdyB5nQE5IQsLf%2BKBqTu4Szy5QlmG%2B9gQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201117T015434Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEVXZ2PZ4F%2F20201117%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=7c51e7502ad7b6ba77757ce636430ee8b5a440f015a75f2ee2271de09c908511
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.226.134
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.226.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164022194 (156M) [application/zip]
Saving to: ‘data’

data                100%[===================>] 156.42M  23.1MB/s    in 6.3s

2020-11-17 01:54:41 (25.0 MB/s) - ‘data’ saved [164022194/164022194]

Archive:  data
  inflating: MBTA Bus Arrival Departure Aug-Sept 2018.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2018.csv
--2020-11-17 01:54:51--  https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
Resolving www.arcgis.com (www.arcgis.com)... 34.199.206.244, 18.234.22.27, 18.234.22.251, ...
Connecting to www.arcgis.com (www.arcgis.com)|34.199.206.244|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIDw65cdJ%2Bivo2dPq8ILlz24ubjiuI0tWAHa5o8oLEQFJAiA5lYDtjf9E2kqIWk%2FvSvewCzjrTKPkPkcfy6ksyXmvkSq0AwgiEAAaDDYwNDc1ODEwMjY2NSIMYHWzHELz8dwZsrTZKpEDkFQHEKcK539oYHcp8BHjw8ET8LHyv8sGOlwgOZnclib66zELvNSvxvMrtVHEpypsab5zFk0PPuYoz%2FtO7%2BiZNdPJB1Hklx%2FOVnL5PuEIBX7uzChkX6jb8RXrtKTOqHrdnftIMOHV%2Bz%2BRAdmw6JbZV4%2FNv0rrHYWTue3zK3Df1D5vt73a%2B242DVMliLsOeXI3gGrtdKXY2ltRXyaZpjCInvyCSqSZoPxWCgdqtprJf3Aycnlh4hGiLOO3H1iKofVnzvDId9k6Knpmv%2B4mHuxhhIs5DvIEb4mi26vDR5LZtjcTWKKL2dgENdFWcs7Z1tDOvRgPgO6Bf2jXIV3VSxjevidh7lks%2B3%2BtMhPnnTq%2B8NMUGdrF77v2CkEPxrgaou%2FGJ4fmGDjdMlhIitY6NqEkL1FU2ggnt0RZAICQugep4Ehu4x8OOfVcNY6Bv07OJxcAtMf9Owik3e%2BsFT6GRjGGVaBhhHq5Mp2SicNYaDSnaxd70h5q6e%2F4CVmbq%2BLrJW3ZGddVwlyJ9nQpIpNn9Xu9VXUwucDM%2FQU67AFB8QH%2FwQRwqxVKIzl3ZpQLqJuRL%2Brqw6Jd3d1%2B%2B1anuaazo8aK7A695RNCLT4lqIlt0QecVmaLzboQlpkKfKvdaS4rOKBjM%2B2gEZV5NorS%2BEKYCtnPdXv%2F49fu1UYhyC5q3hYWaX67UvaT41kvUgA%2F2VHDMUpBcOGj%2BRJzqBKXrWustJiqHxZcZW6%2B%2BZHv3YBkhrV6SUpQamEPdSZ7%2Bfvpy8%2FdfM4YnxlFo9tQLObeu8sVuMnQytTrTBONiNWZNoeXYGMpjMMCiiJFprfzKNRzyaOgeOjlH9HADfRmLhLYbXcZa2yoN%2FZ%2BlW4W4A%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201117T015451Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQH6ITEES%2F20201117%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=c6ecca784104c5d1c1af5ea3dda2e98937aa138ad65771a8701ce3120299cd1a [following]
--2020-11-17 01:54:51--  https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIDw65cdJ%2Bivo2dPq8ILlz24ubjiuI0tWAHa5o8oLEQFJAiA5lYDtjf9E2kqIWk%2FvSvewCzjrTKPkPkcfy6ksyXmvkSq0AwgiEAAaDDYwNDc1ODEwMjY2NSIMYHWzHELz8dwZsrTZKpEDkFQHEKcK539oYHcp8BHjw8ET8LHyv8sGOlwgOZnclib66zELvNSvxvMrtVHEpypsab5zFk0PPuYoz%2FtO7%2BiZNdPJB1Hklx%2FOVnL5PuEIBX7uzChkX6jb8RXrtKTOqHrdnftIMOHV%2Bz%2BRAdmw6JbZV4%2FNv0rrHYWTue3zK3Df1D5vt73a%2B242DVMliLsOeXI3gGrtdKXY2ltRXyaZpjCInvyCSqSZoPxWCgdqtprJf3Aycnlh4hGiLOO3H1iKofVnzvDId9k6Knpmv%2B4mHuxhhIs5DvIEb4mi26vDR5LZtjcTWKKL2dgENdFWcs7Z1tDOvRgPgO6Bf2jXIV3VSxjevidh7lks%2B3%2BtMhPnnTq%2B8NMUGdrF77v2CkEPxrgaou%2FGJ4fmGDjdMlhIitY6NqEkL1FU2ggnt0RZAICQugep4Ehu4x8OOfVcNY6Bv07OJxcAtMf9Owik3e%2BsFT6GRjGGVaBhhHq5Mp2SicNYaDSnaxd70h5q6e%2F4CVmbq%2BLrJW3ZGddVwlyJ9nQpIpNn9Xu9VXUwucDM%2FQU67AFB8QH%2FwQRwqxVKIzl3ZpQLqJuRL%2Brqw6Jd3d1%2B%2B1anuaazo8aK7A695RNCLT4lqIlt0QecVmaLzboQlpkKfKvdaS4rOKBjM%2B2gEZV5NorS%2BEKYCtnPdXv%2F49fu1UYhyC5q3hYWaX67UvaT41kvUgA%2F2VHDMUpBcOGj%2BRJzqBKXrWustJiqHxZcZW6%2B%2BZHv3YBkhrV6SUpQamEPdSZ7%2Bfvpy8%2FdfM4YnxlFo9tQLObeu8sVuMnQytTrTBONiNWZNoeXYGMpjMMCiiJFprfzKNRzyaOgeOjlH9HADfRmLhLYbXcZa2yoN%2FZ%2BlW4W4A%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201117T015451Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQH6ITEES%2F20201117%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=c6ecca784104c5d1c1af5ea3dda2e98937aa138ad65771a8701ce3120299cd1a
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.177.182
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.177.182|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387554431 (370M) [application/zip]
Saving to: ‘data.1’

data.1              100%[===================>] 369.60M  28.3MB/s    in 13s

2020-11-17 01:55:05 (27.5 MB/s) - ‘data.1’ saved [387554431/387554431]

Archive:  data.1
  inflating: MBTA Bus Arrival Departure Apr-June 2019.csv
  inflating: MBTA Bus Arrival Departure Jan-Mar 2019.csv
  inflating: MBTA Bus Arrival Departure Jul-Sept 2019.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2019.csv

## Load MBTA Data

In [11]:
df = pd.read_json("MBTA Bus Ridership.geojson")

In [12]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")

In [13]:
df

                      type  ...                                           features
0        FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 1, '...
1        FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 2, '...
2        FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3, '...
3        FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 4, '...
4        FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 5, '...
...                    ...  ...                                                ...
3451727  FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3451...
3451728  FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3451...
3451729  FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3451...
3451730  FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3451...
3451731  FeatureCollection  ...  {'type': 'Feature', 'properties': {'FID': 3451...

[3451732 rows x 3 columns]

In [14]:
df2

        service_date route_id  ... scheduled_headway  headway
0         2019-04-01       01  ...               NaN      NaN
1         2019-04-01       01  ...               NaN      NaN
2         2019-04-01       01  ...               NaN      NaN
3         2019-04-01       01  ...               NaN      NaN
4         2019-04-01       01  ...            1200.0   1230.0
...              ...      ...  ...               ...      ...
7670643   2019-06-30      SL5  ...             900.0      NaN
7670644   2019-06-30      SL5  ...             900.0      NaN
7670645   2019-06-30      SL5  ...             900.0      NaN
7670646   2019-06-30      SL5  ...             900.0      NaN
7670647   2019-06-30      SL5  ...             900.0      NaN

[7670648 rows x 13 columns]

# Preprocess data

## Toy

In [15]:
planned.columns

Index(['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Voiture', 'Type',
       'Direction'],
      dtype='object')

In [16]:
filter_rows = (planned['Ligne'] == 10.0) & \
              (planned['Direction'] == "Nord")

filter_columns = ['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Direction']

planned[filter_rows][filter_columns]

    Ligne      De               Début  ...     À NoPermanent  Direction
2    10.0  M15001 2000-01-01 20:21:00  ...  H052    25286880       Nord
4    10.0  M15001 2000-01-01 22:21:00  ...  H052    80018209       Nord
6    10.0  M15001 2000-01-02 00:21:00  ...  H052    79994754       Nord
17   10.0  M15001 2000-01-02 11:21:00  ...  H052    25286806       Nord
19   10.0  M15001 2000-01-02 13:21:00  ...  H052    33657803       Nord
21   10.0  M15001 2000-01-02 15:21:00  ...  H052    25286802       Nord

[6 rows x 7 columns]

In [17]:
filter_rows = (d_2016_10_21['ROUTE_ID'] == 10) & \
              (d_2016_10_21['DIRECTION'] == 1)

filter_columns = ['MEA_DATE', 'TRIP_ID', 'ROUTE_ID',
       'DIRECTION', 'STOP_ID', 'SCHEDULED_TIME',
       'MEA_ARR_TIME', 'MEA_DEP_TIME', 'NB_BOARDING', 'NB_DEBARKING',
       'PASSENGER_LOAD', 'AVG_PASSENGER_LOAD_TRIP', 'SYSRECNO']

d_2016_10_21[filter_rows][filter_columns]

    MEA_DATE  TRIP_ID  ...  AVG_PASSENGER_LOAD_TRIP   SYSRECNO
0      42664       23  ...                     36.0  101471030
1      42664       23  ...                      NaN  101471031
4      42664       21  ...                     39.0  101471034
5      42664       21  ...                      NaN  101471035
8      42664       19  ...                     41.0  101471038
9      42664       19  ...                      NaN  101471039
12     42664        8  ...                     36.0  101471042
13     42664        8  ...                      NaN  101471043
16     42664        6  ...                     51.0  101471046
17     42664        6  ...                      NaN  101471047
20     42664        4  ...                     30.0  101471050
21     42664        4  ...                      NaN  101471051
24     42664        2  ...                     10.0  101471054
25     42664        2  ...                      NaN  101471055

[14 rows x 13 columns]