[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

# Load Data

In [22]:
from getpass import getpass
import os

if os.path.exists('PGM-Project'):
  !git -C PGM-Project/ pull 
else:
  u = input('GitHub username: ')
  p = getpass('GitHub password: ')
  !git clone https://$u:$p@github.com/remidion/PGM-Project.git
  del u, p

Already up to date.

In [23]:
import pandas as pd

planned, d_2016_10_21 = pd.read_excel("PGM-Project/data/toy.xlsx", sheet_name=[0,1]).values()

# Preprocess data

In [24]:
planned.columns

Index(['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Voiture', 'Type',
       'Direction'],
      dtype='object')

In [25]:
filter_rows = (planned['Ligne'] == 10.0) & \
              (planned['Direction'] == "Nord")

filter_columns = ['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Direction']

planned[filter_rows][filter_columns]

    Ligne      De               Début  ...     À NoPermanent  Direction
2    10.0  M15001 2000-01-01 20:21:00  ...  H052    25286880       Nord
4    10.0  M15001 2000-01-01 22:21:00  ...  H052    80018209       Nord
6    10.0  M15001 2000-01-02 00:21:00  ...  H052    79994754       Nord
17   10.0  M15001 2000-01-02 11:21:00  ...  H052    25286806       Nord
19   10.0  M15001 2000-01-02 13:21:00  ...  H052    33657803       Nord
21   10.0  M15001 2000-01-02 15:21:00  ...  H052    25286802       Nord

[6 rows x 7 columns]

In [26]:
filter_rows = (d_2016_10_21['ROUTE_ID'] == 10) & \
              (d_2016_10_21['DIRECTION'] == 1)

filter_columns = ['MEA_DATE', 'TRIP_ID', 'ROUTE_ID',
       'DIRECTION', 'STOP_ID', 'SCHEDULED_TIME',
       'MEA_ARR_TIME', 'MEA_DEP_TIME', 'NB_BOARDING', 'NB_DEBARKING',
       'PASSENGER_LOAD', 'AVG_PASSENGER_LOAD_TRIP', 'SYSRECNO']

d_2016_10_21[filter_rows][filter_columns]

    MEA_DATE  TRIP_ID  ...  AVG_PASSENGER_LOAD_TRIP   SYSRECNO
0      42664       23  ...                     36.0  101471030
1      42664       23  ...                      NaN  101471031
4      42664       21  ...                     39.0  101471034
5      42664       21  ...                      NaN  101471035
8      42664       19  ...                     41.0  101471038
9      42664       19  ...                      NaN  101471039
12     42664        8  ...                     36.0  101471042
13     42664        8  ...                      NaN  101471043
16     42664        6  ...                     51.0  101471046
17     42664        6  ...                      NaN  101471047
20     42664        4  ...                     30.0  101471050
21     42664        4  ...                      NaN  101471051
24     42664        2  ...                     10.0  101471054
25     42664        2  ...                      NaN  101471055

[14 rows x 13 columns]