[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [1]:
# Imports
from getpass import getpass
import pandas as pd
import os

In [ ]:
!pip install geopandas
import geopandas as gpd

# Data Preparation

In [ ]:
if os.path.exists('PGM-Project'):
  !git -C PGM-Project/ pull 
else:
  u = input('GitHub username: ')
  p = getpass('GitHub password: ')
  !git clone https://$u:$p@github.com/remidion/PGM-Project.git
  del u, p

## Load toy data

In [4]:
planned, d_2016_10_21 = pd.read_excel("PGM-Project/data/toy.xlsx", sheet_name=[0,1]).values()

## Download MBTA Data

In [5]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

In [6]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

## Load MBTA Data

In [7]:
# df = pd.read_json("MBTA Bus Ridership.geojson")

In [8]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")

In [9]:
df = gpd.read_file("MBTA Bus Ridership.geojson")

In [10]:
df

             FID     season route_id  ... load_  sample_size geometry
0              1  Fall 2016        1  ...   7.8           13     None
1              2  Fall 2016        1  ...   9.4           13     None
2              3  Fall 2016        1  ...  10.4           13     None
3              4  Fall 2016        1  ...   8.5           13     None
4              5  Fall 2016        1  ...   8.4           13     None
...          ...        ...      ...  ...   ...          ...      ...
3451727  3451728  Fall 2019       99  ...   0.0            5     None
3451728  3451729  Fall 2019       99  ...   0.0            5     None
3451729  3451730  Fall 2019       99  ...   0.0            5     None
3451730  3451731  Fall 2019       99  ...   0.0            5     None
3451731  3451732  Fall 2019       99  ...   0.0            5     None

[3451732 rows x 16 columns]

In [11]:
df2

        service_date route_id  ... scheduled_headway  headway
0         2019-04-01       01  ...               NaN      NaN
1         2019-04-01       01  ...               NaN      NaN
2         2019-04-01       01  ...               NaN      NaN
3         2019-04-01       01  ...               NaN      NaN
4         2019-04-01       01  ...            1200.0   1230.0
...              ...      ...  ...               ...      ...
7670643   2019-06-30      SL5  ...             900.0      NaN
7670644   2019-06-30      SL5  ...             900.0      NaN
7670645   2019-06-30      SL5  ...             900.0      NaN
7670646   2019-06-30      SL5  ...             900.0      NaN
7670647   2019-06-30      SL5  ...             900.0      NaN

[7670648 rows x 13 columns]

# Preprocess data

## Toy

In [12]:
planned.columns

Index(['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Voiture', 'Type',
       'Direction'],
      dtype='object')

In [13]:
filter_rows = (planned['Ligne'] == 10.0) & \
              (planned['Direction'] == "Nord")

filter_columns = ['Ligne', 'De', 'Début', 'Fin', 'À', 'NoPermanent', 'Direction']

planned[filter_rows][filter_columns]

    Ligne      De               Début  ...     À NoPermanent  Direction
2    10.0  M15001 2000-01-01 20:21:00  ...  H052    25286880       Nord
4    10.0  M15001 2000-01-01 22:21:00  ...  H052    80018209       Nord
6    10.0  M15001 2000-01-02 00:21:00  ...  H052    79994754       Nord
17   10.0  M15001 2000-01-02 11:21:00  ...  H052    25286806       Nord
19   10.0  M15001 2000-01-02 13:21:00  ...  H052    33657803       Nord
21   10.0  M15001 2000-01-02 15:21:00  ...  H052    25286802       Nord

[6 rows x 7 columns]

In [14]:
filter_rows = (d_2016_10_21['ROUTE_ID'] == 10) & \
              (d_2016_10_21['DIRECTION'] == 1)

filter_columns = ['MEA_DATE', 'TRIP_ID', 'ROUTE_ID',
       'DIRECTION', 'STOP_ID', 'SCHEDULED_TIME',
       'MEA_ARR_TIME', 'MEA_DEP_TIME', 'NB_BOARDING', 'NB_DEBARKING',
       'PASSENGER_LOAD', 'AVG_PASSENGER_LOAD_TRIP', 'SYSRECNO']

d_2016_10_21[filter_rows][filter_columns]

    MEA_DATE  TRIP_ID  ...  AVG_PASSENGER_LOAD_TRIP   SYSRECNO
0      42664       23  ...                     36.0  101471030
1      42664       23  ...                      NaN  101471031
4      42664       21  ...                     39.0  101471034
5      42664       21  ...                      NaN  101471035
8      42664       19  ...                     41.0  101471038
9      42664       19  ...                      NaN  101471039
12     42664        8  ...                     36.0  101471042
13     42664        8  ...                      NaN  101471043
16     42664        6  ...                     51.0  101471046
17     42664        6  ...                      NaN  101471047
20     42664        4  ...                     30.0  101471050
21     42664        4  ...                      NaN  101471051
24     42664        2  ...                     10.0  101471054
25     42664        2  ...                      NaN  101471055

[14 rows x 13 columns]