<a href="https://colab.research.google.com/github/remidion/PGM-Project/blob/main/Ridership.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [1]:
# Imports
from getpass import getpass
import pandas as pd
import os
import numpy as np
import glob

In [2]:
!pip install geopandas
import geopandas as gpd

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 5.6MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 32.6MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 297kB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj>=2.2.0->geopandas) (2020.11.8)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Installing collected packages: pyproj, cligj, munch, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.1 munch-2.5.0 pyproj-3.0.0.post1

# Data Preparation

## Download MBTA Data

In [3]:
if not os.path.exists("MBTA Bus Ridership.geojson"):
  !wget https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
  !mv eec03d901d2e470ebd5758c60d793e8e_0.geojson "MBTA Bus Ridership.geojson"

--2020-12-06 02:34:54--  https://opendata.arcgis.com/datasets/eec03d901d2e470ebd5758c60d793e8e_0.geojson
Resolving opendata.arcgis.com (opendata.arcgis.com)... 3.226.96.47, 3.227.94.184, 3.214.85.175, ...
Connecting to opendata.arcgis.com (opendata.arcgis.com)|3.226.96.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’

eec03d901d2e470ebd5     [    <=>             ]   1.29G  16.5MB/s    in 85s

2020-12-06 02:36:20 (15.6 MB/s) - ‘eec03d901d2e470ebd5758c60d793e8e_0.geojson’ saved [1380620043]

## Load MBTA Ridership Data

In [4]:
df = gpd.read_file("MBTA Bus Ridership.geojson")
df

             FID     season route_id  ... load_  sample_size geometry
0              1  Fall 2016        1  ...   7.8           13     None
1              2  Fall 2016        1  ...   9.4           13     None
2              3  Fall 2016        1  ...  10.4           13     None
3              4  Fall 2016        1  ...   8.5           13     None
4              5  Fall 2016        1  ...   8.4           13     None
...          ...        ...      ...  ...   ...          ...      ...
3451727  3451728  Fall 2019       99  ...   0.0            5     None
3451728  3451729  Fall 2019       99  ...   0.0            5     None
3451729  3451730  Fall 2019       99  ...   0.0            5     None
3451730  3451731  Fall 2019       99  ...   0.0            5     None
3451731  3451732  Fall 2019       99  ...   0.0            5     None

[3451732 rows x 16 columns]

## Utility functions

In [5]:
def filter_on_row_col(df, target_rows, target_columns):
  for key, value in target_rows:
      df.drop(df[df[key] != value].index, inplace=True)
  df.drop(df.columns.difference(target_columns), axis=1, inplace=True)

def load_targets_from_csvs(target_columns, target_rows):
  bus_arrival_files = glob.glob('./*.csv')

  df_cumulative = pd.DataFrame()
  for f in bus_arrival_files:
    df_tmp = pd.read_csv(f)
    filter_on_row_col(df_tmp, target_rows, target_columns)
    df_cumulative = df_cumulative.append(df_tmp)
    print(f"Loaded {f}")
    del df_tmp

  return df_cumulative

# EDA on Routes, Ridership

In [6]:
tot_sample_size = df.groupby(by=['route_id', 'direction_id'], as_index=False)['sample_size'].sum()
tot_sample_size.sort_values(by = 'sample_size', ascending = False).head(20)

    route_id  direction_id  sample_size
94        23             1       857938
112       28             1       827974
1          1             1       758696
248       66             1       754626
120       32             1       746150
93        23             0       735042
111       28             0       724153
84        22             1       703984
119       32             0       667073
0          1             0       649238
83        22             0       619744
51        15             1       612804
321        9             0       602588
322        9             1       584366
148       39             1       559244
247       66             0       557094
18        11             0       556348
147       39             0       535441
19        11             1       532532
50        15             0       514728

# Preprocess data

In [7]:
# Check route variants
df[df["route_id"]=='1'].groupby(['route_variant']).size()

route_variant
1-_-0    29946
1-_-1    31732
dtype: int64

In [8]:
filter_columns = ["season", "trip_start_time", "stop_id", "stop_sequence", "boardings", "alightings", "load_", "sample_size"]
filter_rows = (df['route_id'] == '1') & \
              (df['route_variant'] == "1-_-1") & \
              (df['day_type_name'] == "weekday")
sort_columns = ['season', 'trip_start_time', 'stop_sequence']
df2 = df[filter_columns][filter_rows].sort_values(by=sort_columns)
df2

            season trip_start_time  stop_id  ...  alightings  load_  sample_size
7491     Fall 2016        05:10:00      110  ...         0.0    5.7           13
7495     Fall 2016        05:10:00     2168  ...         0.0    6.5           13
7493     Fall 2016        05:10:00     2166  ...         0.7    6.6           13
7494     Fall 2016        05:10:00     2167  ...         0.0    6.6           13
7220     Fall 2016        05:10:00       66  ...         0.0    6.8           13
...            ...             ...      ...  ...         ...    ...          ...
2604889  Fall 2019        25:12:00    10100  ...         0.3    2.6           36
2604890  Fall 2019        25:12:00    10101  ...         0.0    2.6           36
2604897  Fall 2019        25:12:00       62  ...         0.0    2.6           36
2604898  Fall 2019        25:12:00       63  ...         0.1    2.5           36
2604899  Fall 2019        25:12:00       64  ...         2.5    0.0           36

[12740 rows x 8 columns]

In [9]:
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', 60)
df3 = df2.pivot(index=['season','trip_start_time'], columns=['stop_sequence'], values=['boardings',	'alightings',	'load_', 'sample_size'])
df3

                          boardings                                          \
stop_sequence                    1    2    3    4    5    6    7    8    9
season    trip_start_time
Fall 2016 05:10:00              5.1  0.5  0.2  0.0  0.2  0.0  0.0  0.2  1.4
          05:30:00              4.6  0.5  0.1  0.0  0.0  0.1  0.4  0.0  0.5
          05:50:00              2.5  0.9  0.9  0.0  0.0  2.2  1.0  0.7  1.0
          06:06:00              2.1  0.9  1.1  0.0  0.4  0.3  0.6  0.6  1.0
          06:21:00              1.8  1.1  0.3  0.0  0.1  0.8  0.5  0.8  1.2
...                             ...  ...  ...  ...  ...  ...  ...  ...  ...
Fall 2019 24:08:00              1.8  0.5  0.4  0.2  0.4  0.2  0.1  0.3  0.2
          24:22:00              1.2  1.3  0.2  0.1  0.1  0.1  0.0  0.3  0.2
          24:37:00              1.8  0.7  0.3  0.1  0.1  0.0  0.0  0.1  0.1
          24:52:00              1.6  1.2  0.1  0.1  0.1  0.1  0.0  0.0  0.1
          25:12:00              3.2  0.0  0.0  0.0  0.2  0.0  0.0  0.0  0.2

                                                                               \
stop_sequence                10   11   12   13   14   15   16   17    18   19
season    trip_start_time
Fall 2016 05:10:00          2.0  0.9  1.2  0.2  0.0  0.3  1.0  2.1   3.4  0.0
          05:30:00          5.5  0.8  0.3  0.2  0.0  1.1  1.5  0.7   4.2  0.1
          05:50:00          8.7  2.1  0.9  0.0  0.1  4.8  1.1  0.3   5.0  0.1
          06:06:00          6.4  1.6  0.9  0.0  0.0  5.4  0.4  1.4  13.6  0.0
          06:21:00         10.3  1.8  0.5  0.4  0.8  6.4  1.2  3.2  13.5  0.3
...                         ...  ...  ...  ...  ...  ...  ...  ...   ...  ...
Fall 2019 24:08:00          1.6  1.1  0.4  1.4  0.1  1.7  0.5  0.2   1.0  0.2
          24:22:00          1.0  0.6  0.4  0.6  0.1  0.7  0.3  0.2   0.9  0.2
          24:37:00          1.1  0.2  0.2  0.6  0.1  0.6  0.2  0.2   0.6  0.2
          24:52:00          0.9  0.5  0.1  0.6  0.1  0.6  0.2  0.3   0.5  0.1
          25:12:00          0.5  0.1  0.1  0.1  0.1  0.3  0.1  0.1   0.1  0.1

                                                                        \
stop_sequence               20   21   22   23   24   25   26   27   28
season    trip_start_time
Fall 2016 05:10:00         0.2  0.1  0.2  0.4  0.0  0.0  0.0  0.0  0.0
          05:30:00         0.0  0.5  0.4  0.3  0.0  0.0  0.0  0.0  0.0
          05:50:00         0.2  0.9  0.6  0.6  0.0  0.0  0.0  0.0  0.0
          06:06:00         0.1  0.4  1.1  1.4  0.1  0.0  0.0  0.0  0.0
          06:21:00         0.1  0.4  0.5  1.2  0.0  0.0  0.0  0.0  0.0
...                        ...  ...  ...  ...  ...  ...  ...  ...  ...
Fall 2019 24:08:00         0.3  0.3  0.2  0.3  0.0  0.0  0.0  0.0  0.0
          24:22:00         0.1  0.4  0.1  0.1  0.0  0.0  0.0  0.0  0.0
          24:37:00         0.2  0.3  0.1  0.3  0.0  0.0  0.0  0.0  0.0
          24:52:00         0.2  0.3  0.1  0.2  0.0  0.0  0.0  0.0  0.0
          25:12:00         0.1  0.1  0.1  0.2  0.1  0.0  0.0  0.0  0.0

                          alightings       ... load_      sample_size        \
stop_sequence                     1    2   ...    27   28          1     2
season    trip_start_time                  ...
Fall 2016 05:10:00               0.0  0.0  ...   4.5  0.1        13.0  13.0
          05:30:00               0.0  0.1  ...   2.7  0.0        22.0  22.0
          05:50:00               0.0  0.0  ...   6.3  0.2         9.0   9.0
          06:06:00               0.0  0.0  ...   5.3  0.0         8.0   8.0
          06:21:00               0.0  0.0  ...   6.4  0.0        13.0  13.0
...                              ...  ...  ...   ...  ...         ...   ...
Fall 2019 24:08:00               0.0  0.0  ...   4.5  0.1        65.0  65.0
          24:22:00               0.0  0.0  ...   2.5  0.2        65.0  65.0
          24:37:00               0.0  0.0  ...   2.2  0.0        52.0  52.0
          24:52:00               0.0  0.0  ...   2.7  0.0        59.0  59.0
          25:12:00               0.0  0.0  ...   2.5  0.0        36.0  36.0

                                                                           \
stop_sequence                3     4     5     6     7     8     9     10
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0

                                                                           \
stop_sequence                11    12    13    14    15    16    17    18
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0

                                                                           \
stop_sequence                19    20    21    22    23    24    25    26
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
          05:30:00         22.0  22.0  22.0  22.0  22.0  22.0  22.0  22.0
          05:50:00          9.0   9.0   9.0   9.0   9.0   9.0   9.0   9.0
          06:06:00          8.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
          06:21:00         13.0  13.0  13.0  13.0  13.0  13.0  13.0  13.0
...                         ...   ...   ...   ...   ...   ...   ...   ...
Fall 2019 24:08:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:22:00         65.0  65.0  65.0  65.0  65.0  65.0  65.0  65.0
          24:37:00         52.0  52.0  52.0  52.0  52.0  52.0  52.0  52.0
          24:52:00         59.0  59.0  59.0  59.0  59.0  59.0  59.0  59.0
          25:12:00         36.0  36.0  36.0  36.0  36.0  36.0  36.0  36.0


stop_sequence                27    28
season    trip_start_time
Fall 2016 05:10:00         13.0  13.0
          05:30:00         22.0  22.0
          05:50:00          9.0   9.0
          06:06:00          8.0   8.0
          06:21:00         13.0  13.0
...                         ...   ...
Fall 2019 24:08:00         65.0  65.0
          24:22:00         65.0  65.0
          24:37:00         52.0  52.0
          24:52:00         59.0  59.0
          25:12:00         36.0  36.0

[455 rows x 112 columns]

# Training

## TODO

# Inference

## TODO