<a href="https://colab.research.google.com/github/remidion/PGM-Project/blob/main/Timeliness.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/remidion/PGM-Project/blob/main/main.ipynb)

In [1]:
# Imports
from getpass import getpass
import pandas as pd
import os
import numpy as np
import glob

In [2]:
!pip install geopandas
import geopandas as gpd

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 6.4MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 305kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 16.5MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.4)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2020.11.8)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Installing collected packages: click-plugins, munch, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.1 munch-2.5.0 pyproj-3.0.0.post1

# Data Preparation

## Download MBTA Data

In [3]:
if not os.path.exists("data"):
  !wget https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
if not os.path.exists("MBTA Bus Arrival Departure Aug-Sept 2018.csv"):
  !unzip data

if not os.path.exists("data.1"):
  !wget https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
if not os.path.exists("MBTA Bus Arrival Departure Apr-June 2019.csv"):
  !unzip data.1

--2020-12-06 02:43:32--  https://www.arcgis.com/sharing/rest/content/items/d685ba39d9a54d908f49a2a762a9eb47/data
Resolving www.arcgis.com (www.arcgis.com)... 52.23.2.231, 34.199.206.244, 34.233.149.104, ...
Connecting to www.arcgis.com (www.arcgis.com)|52.23.2.231|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHIaCXVzLWVhc3QtMSJHMEUCIBK%2B%2BcNRe1oLQPG6AhBzNvyjvEkjj6wSf9Ku3vhhgwfSAiEAmQuQKMVensTnTWX%2Fml4sFNasI6FecyAISb6H8PA23g8qvQMI%2Bv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MDQ3NTgxMDI2NjUiDGYIj8t5hUx9zbTCfyqRA0A%2FcQw4UW4fWaJ1%2Fb%2B%2B7S0CIILCCTNMb9NvS97ouhPimmfi4uE0Kzt3qhPWBtYHDw6a035%2Fbbm8IusbfNdbbUiOJLgfX53Aam3%2F1YeNUCTTY7g6z%2B6ZZhSlZr2OASLBrW22k%2FFOrsRHoYHnyK%2Bu54DZm8STjEZvjfn1hU0%2FMQTDAviYci6KkOmlZINiTLLm3Orv8w3R2heUN5J3G2nR0QcRuEckVlByAx7Xc0DfoIN8bs3IK%2FR151Z%2FIGjkSfbMAf2vff9A6VFrko%2FSU%2FR7odvTBrSUq6EwwzeyfnjlXom7yulg6qZsKSqwjtQSMBMF7dMUqVxrM6udL8mqoSVoKjVnAaHTzIq3OX14X1SQwziEShVESup60NtGPwt3Kh7hNYPr%2Bn3cFJgNs21T%2FvLMnFSwBSvLoL1lOZzJi8YhuZ6c30MRkQfO2CPxP9s0vYro4jQfyhaZlFwt7Uzce4L6qgGVr%2FsDx9Cy0gQOnAU0kyDthU5FI5SzcdP%2F6VkXnPdhgv89G2dJ7mYN4cPYWTvcJ76uMKfesP4FOusBmv9oaRSUv9NPBVvVy9RLZ2I9YY7uk45jGZavf7Y6tXsEMjQerqNT49AftIKAxE4lyS0FoqEmTfwC56tXtllpDdiIQUgKztZUokQgb92EH7iRZ6uDxjz9645CfNXSyywbTHfolvJle8Fqw2qQ6pyoxXq39XQDli9c3mWhQ07mwdZkJxaLte5GFfOy9nSqPT%2BheiRS%2FeY02sEMUS0BN04Ih0iVKDZXFX6UZ9WXS7PppVDZiwf%2FL5Wqmn55vqoWcnFFupnxvulHqTOZ6To0LTYgK6xQyl4KtBzUDpLc0agVOYLLa1iDcMlE2SbEUA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201206T024332Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQVB5X25L%2F20201206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=48a0134d1cc0b5aae1668f20c60dcdaf7cc4219c61a08d092774a539d6b6cd93 [following]
--2020-12-06 02:43:32--  https://ago-item-storage.s3.us-east-1.amazonaws.com/d685ba39d9a54d908f49a2a762a9eb47/MBTA_Bus_Arrival_Departure_Times_2018.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHIaCXVzLWVhc3QtMSJHMEUCIBK%2B%2BcNRe1oLQPG6AhBzNvyjvEkjj6wSf9Ku3vhhgwfSAiEAmQuQKMVensTnTWX%2Fml4sFNasI6FecyAISb6H8PA23g8qvQMI%2Bv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MDQ3NTgxMDI2NjUiDGYIj8t5hUx9zbTCfyqRA0A%2FcQw4UW4fWaJ1%2Fb%2B%2B7S0CIILCCTNMb9NvS97ouhPimmfi4uE0Kzt3qhPWBtYHDw6a035%2Fbbm8IusbfNdbbUiOJLgfX53Aam3%2F1YeNUCTTY7g6z%2B6ZZhSlZr2OASLBrW22k%2FFOrsRHoYHnyK%2Bu54DZm8STjEZvjfn1hU0%2FMQTDAviYci6KkOmlZINiTLLm3Orv8w3R2heUN5J3G2nR0QcRuEckVlByAx7Xc0DfoIN8bs3IK%2FR151Z%2FIGjkSfbMAf2vff9A6VFrko%2FSU%2FR7odvTBrSUq6EwwzeyfnjlXom7yulg6qZsKSqwjtQSMBMF7dMUqVxrM6udL8mqoSVoKjVnAaHTzIq3OX14X1SQwziEShVESup60NtGPwt3Kh7hNYPr%2Bn3cFJgNs21T%2FvLMnFSwBSvLoL1lOZzJi8YhuZ6c30MRkQfO2CPxP9s0vYro4jQfyhaZlFwt7Uzce4L6qgGVr%2FsDx9Cy0gQOnAU0kyDthU5FI5SzcdP%2F6VkXnPdhgv89G2dJ7mYN4cPYWTvcJ76uMKfesP4FOusBmv9oaRSUv9NPBVvVy9RLZ2I9YY7uk45jGZavf7Y6tXsEMjQerqNT49AftIKAxE4lyS0FoqEmTfwC56tXtllpDdiIQUgKztZUokQgb92EH7iRZ6uDxjz9645CfNXSyywbTHfolvJle8Fqw2qQ6pyoxXq39XQDli9c3mWhQ07mwdZkJxaLte5GFfOy9nSqPT%2BheiRS%2FeY02sEMUS0BN04Ih0iVKDZXFX6UZ9WXS7PppVDZiwf%2FL5Wqmn55vqoWcnFFupnxvulHqTOZ6To0LTYgK6xQyl4KtBzUDpLc0agVOYLLa1iDcMlE2SbEUA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201206T024332Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKEQVB5X25L%2F20201206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=48a0134d1cc0b5aae1668f20c60dcdaf7cc4219c61a08d092774a539d6b6cd93
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.114.118
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.114.118|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 164022194 (156M) [application/zip]
Saving to: ‘data’

data                100%[===================>] 156.42M  26.8MB/s    in 5.5s

2020-12-06 02:43:38 (28.4 MB/s) - ‘data’ saved [164022194/164022194]

Archive:  data
  inflating: MBTA Bus Arrival Departure Aug-Sept 2018.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2018.csv
--2020-12-06 02:43:50--  https://www.arcgis.com/sharing/rest/content/items/1bd340b39942438685d8dcdfe3f26d1a/data
Resolving www.arcgis.com (www.arcgis.com)... 18.234.22.28, 18.234.22.27, 34.233.149.104, ...
Connecting to www.arcgis.com (www.arcgis.com)|18.234.22.28|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJIMEYCIQCqBosVd1YiLENU%2BRxT%2B6hIoWR8atwIkSlP1GcLtRwMLwIhAPt1tN1CWPv9sw0MIx6QjN1blUGc7sz3cEb5IWsKoZedKr0DCPv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMNjA0NzU4MTAyNjY1IgzBu8RRfDi7XJl5%2F5EqkQNn2GMccXusSAGuyJjmaOeHdyl4Id9Cs2y5VUVt78bZPfbR7HcgUAQXf6M5CRj2KVohBgwxZtI38je1HcCpwzI2PW1tDjWAs4aYwj2hXczA8L19aYh1Nsl71L4MISQ67YgHSx%2BkUNNP4tsIKks4n2MeILuYE8BjxhbPrFM5NagL2V%2BuL5OItojk6VQslsK4uWtWE0REe2kPqb3pJpxw8hE%2BLZuvSx8INnwJiVCrx41EvbaCpvPyTXB0nUe0kcVy%2Fr7714sCKnhaGs%2BinuYL4njOG6Uykc2qH40VlpNn39QWOxjnDZ7Tl7RUS4U%2Fw9YGUxRzHVhPcbaqftFLmmxmnhsb%2BdN72QulXNo2voGOQInKSXx6x2QgF%2FCZGy0VrngNG7JvW8EIykIyEb9Tx4BrpyPUyQQoCTMu26l1sH79tGNWzDoBVyo%2FM2mBqWg9cHySBLmm2xDQ1rkhZIGCJIbvxLJ7iZU1LcGQ9UCfrxd%2BfQDEJS5aRajo8KeDhlXKcVCSK%2FlHgkYW7D3vJT5UjLKx3IIHdjCn%2FbD%2BBTrqAQ9C0RaYAdkxZtziAP8WdJrslhAVFHxJhl6R7dQZcow2%2FR1mVAZMjJJAx8FRRtxnPDz67igHRDJSYGom3ooVK0x6oz%2BszdrOEuFTb8KLKGSU5SpRYj8d%2BGODtyJpLwnwP4FPUZnVI%2FqFWzrIg6oT2TF18QjNjfvN2HvVJJRiHMEMehrhAeJ2njYgjZNohbRb%2FZ%2Fo2jZJvtZKP8krNNVFYQKNk%2B%2F%2BtOEWmaDX6yodurq8ju0P%2B5W6Bohss63jz3T4X2LbDUs1Z1Q9E1cmEYAfIRCE7Ar%2BZVna9Vf0ZiUcKTpdG7RvAr3iPne%2B9Q%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201206T024350Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKE7GFL6DPS%2F20201206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=ce0f3dad63b1b37fb3b81360f26966d5777c62e5a8ed641931cad8a372dc11b8 [following]
--2020-12-06 02:43:50--  https://ago-item-storage.s3.us-east-1.amazonaws.com/1bd340b39942438685d8dcdfe3f26d1a/MBTA_Bus_Arrival_Departure_Times_2019.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJIMEYCIQCqBosVd1YiLENU%2BRxT%2B6hIoWR8atwIkSlP1GcLtRwMLwIhAPt1tN1CWPv9sw0MIx6QjN1blUGc7sz3cEb5IWsKoZedKr0DCPv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMNjA0NzU4MTAyNjY1IgzBu8RRfDi7XJl5%2F5EqkQNn2GMccXusSAGuyJjmaOeHdyl4Id9Cs2y5VUVt78bZPfbR7HcgUAQXf6M5CRj2KVohBgwxZtI38je1HcCpwzI2PW1tDjWAs4aYwj2hXczA8L19aYh1Nsl71L4MISQ67YgHSx%2BkUNNP4tsIKks4n2MeILuYE8BjxhbPrFM5NagL2V%2BuL5OItojk6VQslsK4uWtWE0REe2kPqb3pJpxw8hE%2BLZuvSx8INnwJiVCrx41EvbaCpvPyTXB0nUe0kcVy%2Fr7714sCKnhaGs%2BinuYL4njOG6Uykc2qH40VlpNn39QWOxjnDZ7Tl7RUS4U%2Fw9YGUxRzHVhPcbaqftFLmmxmnhsb%2BdN72QulXNo2voGOQInKSXx6x2QgF%2FCZGy0VrngNG7JvW8EIykIyEb9Tx4BrpyPUyQQoCTMu26l1sH79tGNWzDoBVyo%2FM2mBqWg9cHySBLmm2xDQ1rkhZIGCJIbvxLJ7iZU1LcGQ9UCfrxd%2BfQDEJS5aRajo8KeDhlXKcVCSK%2FlHgkYW7D3vJT5UjLKx3IIHdjCn%2FbD%2BBTrqAQ9C0RaYAdkxZtziAP8WdJrslhAVFHxJhl6R7dQZcow2%2FR1mVAZMjJJAx8FRRtxnPDz67igHRDJSYGom3ooVK0x6oz%2BszdrOEuFTb8KLKGSU5SpRYj8d%2BGODtyJpLwnwP4FPUZnVI%2FqFWzrIg6oT2TF18QjNjfvN2HvVJJRiHMEMehrhAeJ2njYgjZNohbRb%2FZ%2Fo2jZJvtZKP8krNNVFYQKNk%2B%2F%2BtOEWmaDX6yodurq8ju0P%2B5W6Bohss63jz3T4X2LbDUs1Z1Q9E1cmEYAfIRCE7Ar%2BZVna9Vf0ZiUcKTpdG7RvAr3iPne%2B9Q%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201206T024350Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKE7GFL6DPS%2F20201206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=ce0f3dad63b1b37fb3b81360f26966d5777c62e5a8ed641931cad8a372dc11b8
Resolving ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)... 52.216.141.72
Connecting to ago-item-storage.s3.us-east-1.amazonaws.com (ago-item-storage.s3.us-east-1.amazonaws.com)|52.216.141.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387554431 (370M) [application/zip]
Saving to: ‘data.1’

data.1              100%[===================>] 369.60M  30.6MB/s    in 12s

2020-12-06 02:44:03 (29.6 MB/s) - ‘data.1’ saved [387554431/387554431]

Archive:  data.1
  inflating: MBTA Bus Arrival Departure Apr-June 2019.csv
  inflating: MBTA Bus Arrival Departure Jan-Mar 2019.csv
  inflating: MBTA Bus Arrival Departure Jul-Sept 2019.csv
  inflating: MBTA Bus Arrival Departure Oct-Dec 2019.csv

## Load MBTA Arrival Data

In [4]:
df2 = pd.read_csv("MBTA Bus Arrival Departure Apr-June 2019.csv")
df2

        service_date route_id  ... scheduled_headway  headway
0         2019-04-01       01  ...               NaN      NaN
1         2019-04-01       01  ...               NaN      NaN
2         2019-04-01       01  ...               NaN      NaN
3         2019-04-01       01  ...               NaN      NaN
4         2019-04-01       01  ...            1200.0   1230.0
...              ...      ...  ...               ...      ...
7670643   2019-06-30      SL5  ...             900.0      NaN
7670644   2019-06-30      SL5  ...             900.0      NaN
7670645   2019-06-30      SL5  ...             900.0      NaN
7670646   2019-06-30      SL5  ...             900.0      NaN
7670647   2019-06-30      SL5  ...             900.0      NaN

[7670648 rows x 13 columns]

## Utility functions

In [5]:
def filter_on_row_col(df, target_rows, target_columns):
  for key, value in target_rows:
      df.drop(df[df[key] != value].index, inplace=True)
  df.drop(df.columns.difference(target_columns), axis=1, inplace=True)

def load_targets_from_csvs(target_columns, target_rows):
  bus_arrival_files = glob.glob('./*.csv')

  df_cumulative = pd.DataFrame()
  for f in bus_arrival_files:
    df_tmp = pd.read_csv(f)
    filter_on_row_col(df_tmp, target_rows, target_columns)
    df_cumulative = df_cumulative.append(df_tmp)
    print(f"Loaded {f}")
    del df_tmp

  return df_cumulative

# EDA on Routes Timeliness

In [6]:
df2 = load_targets_from_csvs(target_columns=['route_id','direction','stop_id'], target_rows=[])

Loaded ./MBTA Bus Arrival Departure Oct-Dec 2018.csv
Loaded ./MBTA Bus Arrival Departure Jan-Mar 2019.csv
Loaded ./MBTA Bus Arrival Departure Oct-Dec 2019.csv
Loaded ./MBTA Bus Arrival Departure Jul-Sept 2019.csv
Loaded ./MBTA Bus Arrival Departure Aug-Sept 2018.csv
Loaded ./MBTA Bus Arrival Departure Apr-June 2019.csv

In [7]:
# Calculate visits per stop
group = df2[['route_id','direction','stop_id']].groupby(['route_id','direction'])
unique_stops = group.nunique().rename(columns={"stop_id":"unique_stop_ids"})
total_stops = pd.DataFrame(group.size()).rename(columns={0:"total_stops"})
stops = pd.merge(unique_stops, total_stops, left_index=True, right_index=True)
stops['visits_per_stop'] = stops['total_stops'] / stops['unique_stop_ids']

In [8]:
stops.sort_values('visits_per_stop', ascending=False).head(20)

                    unique_stop_ids  total_stops  visits_per_stop
route_id direction
SL5      Outbound                12       814194     67849.500000
         Inbound                 13       872944     67149.538462
111      Inbound                 12       777438     64786.500000
SL1      Outbound                 7       448292     64041.714286
31       Outbound                 5       304750     60950.000000
         Inbound                  5       300727     60145.400000
SL2      Outbound                 6       345890     57648.333333
         Inbound                  6       335191     55865.166667
111      Outbound                13       718718     55286.000000
23       Inbound                 10       549635     54963.500000
SL1      Inbound                 13       709980     54613.846154
01       Outbound                 9       488393     54265.888889
         Inbound                  9       472691     52521.222222
39       Inbound                 11       561718     51065.272727
28       Inbound                 11       552235     50203.181818
39       Outbound                10       496903     49690.300000
743      Outbound                11       544599     49509.000000
77       Outbound                11       538967     48997.000000
         Inbound                 11       536599     48781.727273
23       Outbound                12       548555     45712.916667

# Preprocess data

Loading the data for a single route and a single direction

In [9]:
target_columns = ["service_date", "half_trip_id", "stop_id", "stop_sequence", "scheduled", "actual"]
target_rows = [('route_id', '01'),('direction', 'Inbound')]
df3 = load_targets_from_csvs(target_columns, target_rows)

Loaded ./MBTA Bus Arrival Departure Oct-Dec 2018.csv
Loaded ./MBTA Bus Arrival Departure Jan-Mar 2019.csv
Loaded ./MBTA Bus Arrival Departure Oct-Dec 2019.csv
Loaded ./MBTA Bus Arrival Departure Jul-Sept 2019.csv
Loaded ./MBTA Bus Arrival Departure Aug-Sept 2018.csv
Loaded ./MBTA Bus Arrival Departure Apr-June 2019.csv

Comment:
stop_id and stop_sequence are not always consistent in the dataframe!

In [10]:
group = df3.groupby(by=['stop_id', 'stop_sequence']).size()
print(group)

stop_id  stop_sequence
59       5.0                  1
         6.0                  3
         7.0              42083
62       1.0                  2
         6.0                  1
         7.0                  3
         8.0              42080
64       1.0                180
         2.0                  2
         7.0                  1
         8.0                  3
         9.0              42079
67       1.0                  3
         2.0              42069
72       1.0                  1
         2.0                  3
         3.0              42069
75       2.0                  1
         3.0                  3
         4.0              42083
79       3.0                  1
         4.0                  3
         5.0              42083
110      1.0              42070
187      4.0                  1
         5.0                  3
         6.0              42083
dtype: int64

Create a definition of valid stop IDs, based on the frequency of occurence

In [11]:
valid_stop_ids = group[group > group.max()/2]
sequence_to_id = valid_stop_ids.index.to_frame().reset_index(drop=True).sort_values(['stop_sequence']).set_index(['stop_id'])
print(sequence_to_id)
sequence_to_id = sequence_to_id['stop_sequence'].to_dict()

         stop_sequence
stop_id
110                1.0
67                 2.0
72                 3.0
75                 4.0
79                 5.0
187                6.0
59                 7.0
62                 8.0
64                 9.0

Drop invalid (out of sequence) stop IDs

In [12]:
df3['expected_stop_sequence'] = df3['stop_id'].apply(lambda x: sequence_to_id[x])
df3.drop(df3[((df3['expected_stop_sequence'] != df3['stop_sequence']) | (df3['stop_sequence'].isna()))].index, axis=0, inplace=True)
df3.drop('expected_stop_sequence', axis=1, inplace=True)

Drop incomplete routes

In [13]:
groups = df3.groupby(by=['half_trip_id']).size()
stop_sequence_length = int(max(sequence_to_id.values()))
valid_half_trip_ids = pd.Series(groups[groups == stop_sequence_length].index).rename('valid_half_trip_ids')
df3 = df3.loc[df3['half_trip_id'].isin(valid_half_trip_ids)]

Pivot data frame

In [14]:
df4 = df3.pivot(index=['service_date', 'half_trip_id'], columns=['stop_sequence'], values=['scheduled',	'actual'])
df4

                                     scheduled  ...               actual
stop_sequence                              1.0  ...                  9.0
service_date half_trip_id                       ...
2018-08-02   40135101.0    1900-01-01 05:10:00  ...  1900-01-01 05:37:40
             40135103.0    1900-01-01 06:21:00  ...  1900-01-01 06:50:37
             40135105.0    1900-01-01 07:44:00  ...  1900-01-01 08:37:11
             40135121.0    1900-01-01 07:06:00  ...  1900-01-01 07:43:01
             40135155.0    1900-01-01 06:06:00  ...  1900-01-01 06:41:32
...                                        ...  ...                  ...
2019-09-30   45106585.0    1900-01-01 18:33:00  ...  1900-01-01 19:09:43
             45106587.0    1900-01-01 20:11:00  ...  1900-01-01 20:45:59
             45106589.0    1900-01-01 21:33:00  ...  1900-01-01 22:00:24
             45108415.0    1900-01-01 08:49:00  ...                  NaN
             45108654.0    1900-01-01 18:18:00  ...  1900-01-01 19:01:43

[40646 rows x 18 columns]

# Training

## TODO

# Inference

## TODO